onebusaway-nyc-tcip/onebusaway-nyc-tcip-api-v305/src/main/resources/IM_Partial_03_00_38.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Output of XML portions of the registry data into file: IM-Draft-03-00-38.xsd -->

<!-- Production releases of ITS schemas can be found at: http://www.ITSware.net/XML/readme.htm -->
<!--  -->
<xs:schema targetNamespace="http://www.im-partial-03-00-38" xmlns="http://www.im-partial-03-00-38" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:local-itis="http://www.itis-local-for-im" xmlns:lrms="http://www.lrms-final-09-07-for-im" xmlns:local="http://www.im-03-00-38-local" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="DRAFT">
	<!-- xmlns:tcip="http://www.tcip-final-3-0-0"  removed from declarations above-->
	<xs:import namespace="http://www.itis-local-for-im" schemaLocation="ITIS_Local_for_im.xsd"/>
	<xs:import namespace="http://www.lrms-final-09-07-for-im" schemaLocation="LRMS_Final_09_07_for_im.xsd"/>
	<xs:import namespace="http://www.im-03-00-38-local" schemaLocation="IM_03_00_38_Local.xsd"/>
	<xs:annotation>
		<xs:documentation>
      Exported on: 09:10:59 AM Tuesday, May 30, 2006 From file: ieee_combined_r39.ITS [By: Mini-Edit Rev 2.0.410] 
   </xs:documentation>
	</xs:annotation>
	<!-- Descriptive Name: DF_Tail -->
	<xs:complexType name="TailSet">
		<xs:sequence>
			<xs:element name="set">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="value">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="1000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<!-- any internal structure of the value string is the
                  responsibility of the data creator to manage. If the
                  content is binary,  convert to bin hex strings. -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- the order of the sets shall not be changed -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_VehicleSummary -->
	<xs:complexType name="VehicleSummary">
		<xs:sequence>
			<!-- note that here the reused TMDD data concepts are used
         for the vehicle,  not the link on which it travels -->
			<xs:element name="axlecount" type="Link-restriction-axle-count" minOccurs="0"/>
			<xs:element name="class" type="Link-restriction-class" minOccurs="0"/>
			<xs:element name="height" type="Link-restriction-height" minOccurs="0"/>
			<xs:element name="length" type="Link-restriction-length" minOccurs="0"/>
			<xs:element name="weight" type="Link-restriction-weight-vehicle" minOccurs="0"/>
			<xs:element name="weightAxle" type="Link-restriction-weight-axle" minOccurs="0"/>
			<xs:element name="width" type="Link-restriction-width" minOccurs="0"/>
			<xs:element name="maxSpeed" type="Link-speed-limit" minOccurs="0"/>
			<xs:element name="minTurnRadius" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedByte">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- the min radius circle the vehicle can make moving
         forward and allowing a margin of clearance.  Measured
         from the farthest edge of the vehicle including all
         protrusions  (such as side view mirrors -which may be
         in a retracted state)
         Units are in tenths of a meter. -->
			<xs:element name="owner" type="Organization-center-identifier" minOccurs="0"/>
		<!--	<xs:element name="responseType" type="ResponderGroupAffected" minOccurs="0"/> -->
			<!-- the gross type of response vehicle this is classed as -->
			<xs:element name="canReverseLane" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:element>
			<!-- set to true if the vehicle can run on reversed lanes -->
			<xs:element name="vehicleID" type="CenterAssetPermRef" minOccurs="0"/>
			<!-- the perm refer number,  if needed to provide -->
			<xs:element name="vehicleEvent" type="ReferenceID" minOccurs="0"/>
			<!-- the assigned ref number in the event  (if available) -->
			<xs:element name="preemptTech" type="PreemptTech" minOccurs="0"/>
			<!-- a list of the type of equipment this vehicle carries -->
			<xs:element name="dataSets" type="TailSet" minOccurs="0"/>
			<!-- locally determined sets tag/value pairs
         shall be inserted here to allow local profiling -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_PreemptAuthorization -->
	<xs:simpleType name="PreemptAuthorization">
		<xs:annotation>
			<xs:appinfo>
            yes (1) -- grant
            no (2) -- deny
            possibleViolation (3) -- confusing data which MAY indicate an
             -- unauthorized attempt to take over the access point
            confirmedViolation (4) -- data clearly indicates that an
             -- unauthorized attempt to take over the access point
             -- is in progress
            usedOnce (5) -- an access point which was set up for use has been
             -- used ,  typically indicating that the vehicle has passed
            notYetUsed (6) -- an access point which was set up for use has
             -- not yet been used ,  Typically indicating that the
             -- vehicle has not yet passed this point
            currentlyInUse (7) -- to be used when the vehicle is
             -- present in the range of the technology and has
             -- taken control of the access point
            currentlyInView (8) -- to be used when the vehicle is
             -- present in the range of the technology
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="8"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
					<xs:enumeration value="possibleViolation"/>
					<xs:enumeration value="confirmedViolation"/>
					<xs:enumeration value="usedOnce"/>
					<xs:enumeration value="notYetUsed"/>
					<xs:enumeration value="currentlyInUse"/>
					<xs:enumeration value="currentlyInView"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: DE_PreemptGrant -->
	<xs:simpleType name="PreemptGrant">
		<xs:annotation>
			<xs:appinfo>
            freeText (0)
            grant (1)
            deny (2)
            grantWithFreeText (3)
            denyWithfreeText (4)
         </xs:appinfo>
			<xs:documentation>       
            values to 127 reserved for std use
            values 128 to 255 reserved for local use
            use odd values for grants and event values for deny
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="freeText"/>
					<xs:enumeration value="grant"/>
					<xs:enumeration value="deny"/>
					<xs:enumeration value="grantWithFreeText"/>
					<xs:enumeration value="denyWithfreeText"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: DE_PreemptTech -->
	<xs:simpleType name="PreemptTech">
		<xs:annotation>
			<xs:appinfo>
            freeText (0)
            none (1) -- none are in use
         </xs:appinfo>
			<xs:documentation>       
            values to 127 reserved for std use
            values 128 to 255 reserved for local use
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="freeText"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: DE_ReferenceID -->
	<xs:simpleType name="ReferenceID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CenterAssetPermRef">
	  <xs:restriction base="xs:string" >
	    <xs:minLength value="1"/>
	    <xs:maxLength value="32"/>
	  </xs:restriction>
	</xs:simpleType>
	
	<!-- import from itis -->
	<!-- Descriptive Name: DE_Responder-Group-Affected -->
	<xs:simpleType name="ResponderGroupAffected">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="9728"/>
					<xs:maxInclusive value="9983"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="emergency vehicle units" id="_9729"/>
					<xs:enumeration value="federal law enforcement units" id="_9730"/>
					<xs:enumeration value="state police units" id="_9731"/>
					<xs:enumeration value="county police units" id="_9732"/>
					<xs:enumeration value="local police units" id="_9733"/>
					<xs:enumeration value="ambulance units" id="_9734"/>
					<xs:enumeration value="rescue units" id="_9735"/>
					<xs:enumeration value="fire units" id="_9736"/>
					<xs:enumeration value="hAZMAT units" id="_9737"/>
					<xs:enumeration value="light tow unit" id="_9738"/>
					<xs:enumeration value="heavy tow unit" id="_9739"/>
					<xs:enumeration value="freeway service patrols" id="_9740"/>
					<xs:enumeration value="transportation response units" id="_9741"/>
					<xs:enumeration value="private contractor response units" id="_9742"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="local-itis:ResponderGroupAffected"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
<!-- imports from tmdd replicated so as to reduce file count for tcip -->
<!-- Descriptive Name: EXT_LINK_RestrictionAxleCount_quantity -->
	<xs:simpleType name="Link-restriction-axle-count">
		<xs:annotation>
			<xs:documentation>       
            axles
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionHeight_quantity -->
	<xs:simpleType name="Link-restriction-height">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionClass_code -->
	<xs:simpleType name="Link-restriction-class">
		<xs:annotation>
			<xs:appinfo>
            restrictions (2561)
            ramp restrictions (2562)
            truck restriction (2563)
            speed restriction (2564)
            noise restriction (2565)
            traffic regulations have been changed (2566)
            local access only (2567)
            no trailers (2568)
            no high profile vehicles (2569)
            hazardous materials truck restriction (2570)
            no through traffic (2571)
            no motor vehicles (2572)
            width limit (2573)
            height limit (2574)
            length limit (2575)
            axle load limit (2576)
            gross weight limit (2577)
            axle count limit (2578)
            carpool lane available (2579)
            carpool restrictions changed (2580)
            HOV 2: no single occupant vehicles (2581)
            HOV 3: no vehicles with less than three occupants (2582)
            bus lane available for all vehicles (2583)
            truck lane available for all vehicles (2584)
            permits call in basis (2585)
            permits temporarily closed (2586)
            permits closed (2587)
            permits open (2675)
            restrictions for high profile vehicles lifted (2676)
            width limit lifted (2677)
            height limit lifted (2678)
            length limit lifted (2679)
            axle load limit lifted (2680)
            weight limit lifted (2681)
            axle count limit lifted (2682)
            carpool restrictions lifted (2683)
            lane restrictions lifted (2684)
            ramp restrictions lifted (2685)
            motor vehicle restrictions lifted (2686)
            restrictions lifted (2687)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="2560"/>
					<xs:maxInclusive value="2815"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="restrictions"/>
					<xs:enumeration value="ramp restrictions"/>
					<xs:enumeration value="truck restriction"/>
					<xs:enumeration value="speed restriction"/>
					<xs:enumeration value="noise restriction"/>
					<xs:enumeration value="traffic regulations have been changed"/>
					<xs:enumeration value="local access only"/>
					<xs:enumeration value="no trailers"/>
					<xs:enumeration value="no high profile vehicles"/>
					<xs:enumeration value="hazardous materials truck restriction"/>
					<xs:enumeration value="no through traffic"/>
					<xs:enumeration value="no motor vehicles"/>
					<xs:enumeration value="width limit"/>
					<xs:enumeration value="height limit"/>
					<xs:enumeration value="length limit"/>
					<xs:enumeration value="axle load limit"/>
					<xs:enumeration value="gross weight limit"/>
					<xs:enumeration value="axle count limit"/>
					<xs:enumeration value="carpool lane available"/>
					<xs:enumeration value="carpool restrictions changed"/>
					<xs:enumeration value="HOV 2: no single occupant vehicles"/>
					<xs:enumeration value="HOV 3: no vehicles with less than three occupants"/>
					<xs:enumeration value="bus lane available for all vehicles"/>
					<xs:enumeration value="truck lane available for all vehicles"/>
					<xs:enumeration value="permits call in basis"/>
					<xs:enumeration value="permits temporarily closed"/>
					<xs:enumeration value="permits closed"/>
					<xs:enumeration value="permits open"/>
					<xs:enumeration value="restrictions for high profile vehicles lifted"/>
					<xs:enumeration value="width limit lifted"/>
					<xs:enumeration value="height limit lifted"/>
					<xs:enumeration value="length limit lifted"/>
					<xs:enumeration value="axle load limit lifted"/>
					<xs:enumeration value="weight limit lifted"/>
					<xs:enumeration value="axle count limit lifted"/>
					<xs:enumeration value="carpool restrictions lifted"/>
					<xs:enumeration value="lane restrictions lifted"/>
					<xs:enumeration value="ramp restrictions lifted"/>
					<xs:enumeration value="motor vehicle restrictions lifted"/>
					<xs:enumeration value="restrictions lifted"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionLength_quantity -->
	<xs:simpleType name="Link-restriction-length">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="6000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWeightAxle_quantity -->
	<xs:simpleType name="Link-restriction-weight-axle">
		<xs:annotation>
			<xs:documentation>       
            kilograms
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="20000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWeightVehicle_quantity -->
	<xs:simpleType name="Link-restriction-weight-vehicle">
		<xs:annotation>
			<xs:documentation>       
            kilograms
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="80000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWidth_quantity -->
	<xs:simpleType name="Link-restriction-width">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Link-road-number">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 64
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
		<!-- Descriptive Name: EXT_ORGANIZATION_CenterIdentifier_identifier -->
	<xs:simpleType name="Organization-center-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>	
		<!-- Descriptive Name: EXT_LINK_SpeedLimit_rate -->
	<xs:simpleType name="Link-speed-limit">
		<xs:annotation>
			<xs:documentation>       
            kilometers per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	
</xs:schema>
