onebusaway-nyc-tcip/onebusaway-nyc-tcip-api-v305/src/main/resources/TMDD_Partial_0_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Output of XML portions of the registry data into file: TMDD.xsd -->
<!-- in a complete XML schema with all entries that are referenced -->
<!-- Run on Mini-Edit [Version 0.8.321] -->
<!-- From node C:-70-0762-8782 Created on 7/7/2005at 4:49:49 PM  -->
<!--  -->
<!-- End of the TMDD.xsd file. -->
<xs:schema targetNamespace="http://www.tmdd-partial-00-00-00" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tmdd-partial-00-00-00" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="DRAFT">
  <xs:annotation>
    <xs:documentation>
      Exported on: 04:49:50 PM Thursday, July 07, 2005 From file: IEEE_Combined_r31.mdb [By: Mini-Edit Rev 0.8.321] 
    </xs:documentation>
  </xs:annotation>
  <!-- Descriptive Name: EXT_EVENT_IncidentSeverity_code -->
  <xs:simpleType name="Event-incident-severity">
    <xs:annotation>
      <xs:appinfo>
            none (1)
            minor (2)
            major (3)
            natural disaster (4)
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="none"/>
					<xs:enumeration value="minor"/>
					<xs:enumeration value="major"/>
					<xs:enumeration value="natural disaster"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive name Event-timeline-estimated-duration -->
	<xs:simpleType name="Event-timeline-estimated-duration">
		<xs:restriction base="xs:duration"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_NODE_LinksNumber_quantity -->
	<xs:simpleType name="Node-links-number">
		<xs:annotation>
			<xs:documentation>       
            lanes
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_NODE_Name_text -->
	<xs:simpleType name="Node-name">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 128
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_CONTACT_MailingAddressState_text -->
	<xs:simpleType name="Contact-mailing-address-state">
		<xs:annotation>
			<xs:documentation>       
            Any ASCII characters as a two letter state code.
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_SurfaceCondition_code -->
	<xs:simpleType name="Link-surface-condition-item">
		<xs:annotation>
			<xs:appinfo>
            dry (1)
            wet (2)
            snow or slus (3)
            ice (4)
            oil (5)
            debris (6)
            rocks (7)
            salted (8)
            broken pavement (9)
            power lines down (10)
            material spill (11)
            chemical spill (12)
            none (13)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="13"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="dry"/>
					<xs:enumeration value="wet"/>
					<xs:enumeration value="snow or slus"/>
					<xs:enumeration value="ice"/>
					<xs:enumeration value="oil"/>
					<xs:enumeration value="debris"/>
					<xs:enumeration value="rocks"/>
					<xs:enumeration value="salted"/>
					<xs:enumeration value="broken pavement"/>
					<xs:enumeration value="power lines down"/>
					<xs:enumeration value="material spill"/>
					<xs:enumeration value="chemical spill"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="Link-surface-condition">
		<xs:list itemType="Link-surface-condition-item"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_TravelTime_quantity -->
	<xs:simpleType name="Link-travel-time">
		<xs:annotation>
			<xs:documentation>       
            seconds
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_DEVICE_Identifier_identifier -->
	<xs:simpleType name="Device-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ESS_Other_text -->
	<xs:simpleType name="ESS-other">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 256
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_Identifier_identifier -->
	<xs:simpleType name="Event-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_IncidentDetails_code -->
	<xs:simpleType name="Event-incident-details">
		<xs:annotation>
			<xs:appinfo>
            rollover overturn jackknife (2)
            immersion (3)
            gas inhalation (4)
            noncollision injury (5) -- (Injured in Vehicle or Fell From Veh.)
            debris thrown or falling object (6)
            collision with pedestrian (7)
            collision with cycle or cyclist (8) -- (pedalcyclist or pedalcycle)
            collision with railway train (9)
            collision with animal (10)
            collision with motor vehicle in transport (11)
            collision with parked motor vehicle (12) -- (or Other M.V. Not in Transport)
            collision with ground (13)
            collision with building (14)
            collision with impact attenuator crash cushion (15)
            collision with bridge structure (16) -- (Bridge Pier/Abutment/Parapet End/Rail)
            collision with guardrail (17)
            collision with concrete traffic barrier or other longitudinal barrier type (18)
            collision with post (19) -- pole-or-support  (Sign Post ,
            collision with culvert or ditch (21)
            collision with curb (22)
            collision with embankment (23)
            collision with fence (24)
            collision with wall (25)
            collision with fire hydrant (26)
            collision with shrubbery or bush (27)
            collision with tree (28)
            collision with boulder (29)
            collision with pavement surface irregularity (30) -- (Ruts ,
            unknown (31)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="2"/>
					<xs:maxInclusive value="31"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="rollover overturn jackknife"/>
					<xs:enumeration value="immersion"/>
					<xs:enumeration value="gas inhalation"/>
					<xs:enumeration value="noncollision injury"/>
					<xs:enumeration value="debris thrown or falling object"/>
					<xs:enumeration value="collision with pedestrian"/>
					<xs:enumeration value="collision with cycle or cyclist"/>
					<xs:enumeration value="collision with railway train"/>
					<xs:enumeration value="collision with animal"/>
					<xs:enumeration value="collision with motor vehicle in transport"/>
					<xs:enumeration value="collision with parked motor vehicle"/>
					<xs:enumeration value="collision with ground"/>
					<xs:enumeration value="collision with building"/>
					<xs:enumeration value="collision with impact attenuator crash cushion"/>
					<xs:enumeration value="collision with bridge structure"/>
					<xs:enumeration value="collision with guardrail"/>
					<xs:enumeration value="collision with concrete traffic barrier or other longitudinal barrier type"/>
					<xs:enumeration value="collision with post"/>
					<xs:enumeration value="collision with culvert or ditch"/>
					<xs:enumeration value="collision with curb"/>
					<xs:enumeration value="collision with embankment"/>
					<xs:enumeration value="collision with fence"/>
					<xs:enumeration value="collision with wall"/>
					<xs:enumeration value="collision with fire hydrant"/>
					<xs:enumeration value="collision with shrubbery or bush"/>
					<xs:enumeration value="collision with tree"/>
					<xs:enumeration value="collision with boulder"/>
					<xs:enumeration value="collision with pavement surface irregularity"/>
					<xs:enumeration value="unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_IncidentVehiclesInvolvedCount_quantity -->
	<xs:simpleType name="Event-incident-vehicles-involved-count">
		<xs:annotation>
			<xs:documentation>       
            vehicles
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_Lanes_TotalAffected_quantity -->
	<xs:simpleType name="Event-lanes-total-affected">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_DescriptionTypeEvent_code -->
	<xs:simpleType name="Event-description-type-event">
		<xs:annotation>
			<xs:appinfo>
            trafficConditions (1)
            accidentsAndIncidents (2)
            closures (3)
            roadwork (4)
            obstruction (5)
            delayStatusCancellation (6)
            unusualDriving (7)
            mobileSituation (8)
            deviceStatus (9)
            restrictionClass (10)
            incidentResponseStatus (11)
            disasters (12)
            disturbances (13)
            sportingEvents (14)
            specialEvents (15)
            parkingInformation (16)
            systemInformation (17)
            weatherConditions (18)
            precipitation (19)
            winds (20)
            visibilityAndAirQuality (21)
            temperature (22)
            pavementConditions (23)
            winterDrivingRestrictions (24)
            winterDrivingIndex (25)
            suggestionAdvice (26)
            warningAdvice (27)
            adviceInstructionsRecommendations (28)
            adviceInstructionsMandatory (29)
            qualifiers (30)
            genericLocations (31)
            laneRoadway (32)
            alternateRoute (33)
            units (34)
            transitMode (35)
            vehicleGroupAffected (36)
            travelerGroupAffected (37)
            responderGroupAffected (39)
            incidentResponseEquipment (40)
            assetStatus (41)
            roadsideAssets (42)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="42"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="trafficConditions"/>
					<xs:enumeration value="accidentsAndIncidents"/>
					<xs:enumeration value="closures"/>
					<xs:enumeration value="roadwork"/>
					<xs:enumeration value="obstruction"/>
					<xs:enumeration value="delayStatusCancellation"/>
					<xs:enumeration value="unusualDriving"/>
					<xs:enumeration value="mobileSituation"/>
					<xs:enumeration value="deviceStatus"/>
					<xs:enumeration value="restrictionClass"/>
					<xs:enumeration value="incidentResponseStatus"/>
					<xs:enumeration value="disasters"/>
					<xs:enumeration value="disturbances"/>
					<xs:enumeration value="sportingEvents"/>
					<xs:enumeration value="specialEvents"/>
					<xs:enumeration value="parkingInformation"/>
					<xs:enumeration value="systemInformation"/>
					<xs:enumeration value="weatherConditions"/>
					<xs:enumeration value="precipitation"/>
					<xs:enumeration value="winds"/>
					<xs:enumeration value="visibilityAndAirQuality"/>
					<xs:enumeration value="temperature"/>
					<xs:enumeration value="pavementConditions"/>
					<xs:enumeration value="winterDrivingRestrictions"/>
					<xs:enumeration value="winterDrivingIndex"/>
					<xs:enumeration value="suggestionAdvice"/>
					<xs:enumeration value="warningAdvice"/>
					<xs:enumeration value="adviceInstructionsRecommendations"/>
					<xs:enumeration value="adviceInstructionsMandatory"/>
					<xs:enumeration value="qualifiers"/>
					<xs:enumeration value="genericLocations"/>
					<xs:enumeration value="laneRoadway"/>
					<xs:enumeration value="alternateRoute"/>
					<xs:enumeration value="units"/>
					<xs:enumeration value="transitMode"/>
					<xs:enumeration value="vehicleGroupAffected"/>
					<xs:enumeration value="travelerGroupAffected"/>
					<xs:enumeration value="responderGroupAffected"/>
					<xs:enumeration value="incidentResponseEquipment"/>
					<xs:enumeration value="assetStatus"/>
					<xs:enumeration value="roadsideAssets"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_ResponsePlanAuthor_text -->
	<xs:simpleType name="Event-response-plan-author">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 128
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_ResponsePlanIdentifier_identifier -->
	<xs:simpleType name="Event-response-plan-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_EVENT_ResponsePlanType_code -->
	<xs:simpleType name="Event-response-plan-type">
		<xs:annotation>
			<xs:appinfo>
            system plan (1)
            modified system plan (2)
            manual input plan (3)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="system plan"/>
					<xs:enumeration value="modified system plan"/>
					<xs:enumeration value="manual input plan"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Status_code -->
	<xs:simpleType name="Link-status">
		<xs:annotation>
			<xs:appinfo>
            no determination (1)
            open (2)
            restricted (3)
            closed (4)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="no determination"/>
					<xs:enumeration value="open"/>
					<xs:enumeration value="restricted"/>
					<xs:enumeration value="closed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_NODE_Status_code -->
	<xs:simpleType name="Node-status">
		<xs:annotation>
			<xs:appinfo>
            no determination (1)
            open (2)
            restricted (3)
            closed (4)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="no determination"/>
					<xs:enumeration value="open"/>
					<xs:enumeration value="restricted"/>
					<xs:enumeration value="closed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_CenterIdentifier_identifier -->
	<xs:simpleType name="Organization-center-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_CenterName_text -->
	<xs:simpleType name="Organization-center-name">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_Identifier_identifier -->
	<xs:simpleType name="Organization-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_Name_text -->
	<xs:simpleType name="Organization-name">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 128
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Capacity_rate -->
	<xs:simpleType name="Link-capacity">
		<xs:annotation>
			<xs:documentation>       
            vehicles per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="300000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_CapacityExisting_percent -->
	<xs:simpleType name="Link-capacity-existing">
		<xs:annotation>
			<xs:documentation>       
            percent
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Delay_quantity -->
	<xs:simpleType name="Link-delay">
		<xs:annotation>
			<xs:documentation>       
            seconds
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="605000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Density_rate -->
	<xs:simpleType name="Link-density">
		<xs:annotation>
			<xs:documentation>       
            vehicles per kilometer
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Identifier_identifier -->
	<xs:simpleType name="Link-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Jurisdiction_text -->
	<xs:simpleType name="Link-jurisdiction">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 128
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_LaneCount_quantity -->
	<xs:simpleType name="Link-lane-count">
		<xs:annotation>
			<xs:documentation>       
            lanes
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_LanesNumber_quantity -->
	<xs:simpleType name="Link-lanes-minimum-number">
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_LanesNumberOpen_quantity -->
	<xs:simpleType name="Link-lanes-number-open">
		<xs:annotation>
			<xs:documentation>       
            lanes
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Length_quantity -->
	<xs:simpleType name="Link-length">
		<xs:annotation>
			<xs:documentation>       
            meters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="160000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_LevelOfService_code -->
	<xs:simpleType name="Link-level-of-service">
		<xs:annotation>
			<xs:appinfo>
            free flow conditions (1) -- A
            stable flow with noticeable decline in free flow conditions (2) -- B
            stable flow with significant increase in driver discomfort (3) -- C
            high density but stable flow (4) -- D
            conditions near capacity level (5) -- E
            forced flow (6) -- E
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="6"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="free flow conditions"/>
					<xs:enumeration value="stable flow with noticeable decline in free flow conditions"/>
					<xs:enumeration value="stable flow with significant increase in driver discomfort"/>
					<xs:enumeration value="high density but stable flow"/>
					<xs:enumeration value="conditions near capacity level"/>
					<xs:enumeration value="forced flow"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_MedianType_code -->
	<xs:simpleType name="Link-median-type">
		<xs:annotation>
			<xs:appinfo>
            curbed (1)
            concrete barrier (2)
            concrete barrier with visibility screen (3)
            guard rail (4)
            open grass (5)
            open sand (6)
            painted median no access (7)
            separate roadways (8)
            unprotected (9)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="curbed"/>
					<xs:enumeration value="concrete barrier"/>
					<xs:enumeration value="concrete barrier with visibility screen"/>
					<xs:enumeration value="guard rail"/>
					<xs:enumeration value="open grass"/>
					<xs:enumeration value="open sand"/>
					<xs:enumeration value="painted median no access"/>
					<xs:enumeration value="separate roadways"/>
					<xs:enumeration value="unprotected"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Name_text -->
	<xs:simpleType name="Link-name">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 12828
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Occupancy_percent -->
	<xs:simpleType name="Link-occupancy">
		<xs:annotation>
			<xs:documentation>       
            percent
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Other_text -->
	<xs:simpleType name="Link-other">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 256
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_Ownership_text -->
	<xs:simpleType name="Link-ownership">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 25656
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_PavementType_code -->
	<xs:simpleType name="Link-pavement-type">
		<xs:annotation>
			<xs:appinfo>
            asphalt (1)
            open graded asphalt (2)
            concrete (3)
            grooved concrete (4)
            steel bridge (5)
            concrete bridge (6)
            asphalt overlay bridge (7)
            timber bridge (8)
            gravel (9)
            dirt (10)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="10"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="asphalt"/>
					<xs:enumeration value="open graded asphalt"/>
					<xs:enumeration value="concrete"/>
					<xs:enumeration value="grooved concrete"/>
					<xs:enumeration value="steel bridge"/>
					<xs:enumeration value="concrete bridge"/>
					<xs:enumeration value="asphalt overlay bridge"/>
					<xs:enumeration value="timber bridge"/>
					<xs:enumeration value="gravel"/>
					<xs:enumeration value="dirt"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionAxleCount_quantity -->
	<xs:simpleType name="Link-restriction-axle-count">
		<xs:annotation>
			<xs:documentation>       
            axles
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionHeight_quantity -->
	<xs:simpleType name="Link-restriction-height">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionClass_code -->
	<xs:simpleType name="Link-restriction-class">
		<xs:annotation>
			<xs:appinfo>
            restrictions (2561)
            ramp restrictions (2562)
            truck restriction (2563)
            speed restriction (2564)
            noise restriction (2565)
            traffic regulations have been changed (2566)
            local access only (2567)
            no trailers (2568)
            no high profile vehicles (2569)
            hazardous materials truck restriction (2570)
            no through traffic (2571)
            no motor vehicles (2572)
            width limit (2573)
            height limit (2574)
            length limit (2575)
            axle load limit (2576)
            gross weight limit (2577)
            axle count limit (2578)
            carpool lane available (2579)
            carpool restrictions changed (2580)
            HOV 2: no single occupant vehicles (2581)
            HOV 3: no vehicles with less than three occupants (2582)
            bus lane available for all vehicles (2583)
            truck lane available for all vehicles (2584)
            permits call in basis (2585)
            permits temporarily closed (2586)
            permits closed (2587)
            permits open (2675)
            restrictions for high profile vehicles lifted (2676)
            width limit lifted (2677)
            height limit lifted (2678)
            length limit lifted (2679)
            axle load limit lifted (2680)
            weight limit lifted (2681)
            axle count limit lifted (2682)
            carpool restrictions lifted (2683)
            lane restrictions lifted (2684)
            ramp restrictions lifted (2685)
            motor vehicle restrictions lifted (2686)
            restrictions lifted (2687)
         </xs:appinfo>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:minInclusive value="2560"/>
					<xs:maxInclusive value="2815"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="restrictions"/>
					<xs:enumeration value="ramp restrictions"/>
					<xs:enumeration value="truck restriction"/>
					<xs:enumeration value="speed restriction"/>
					<xs:enumeration value="noise restriction"/>
					<xs:enumeration value="traffic regulations have been changed"/>
					<xs:enumeration value="local access only"/>
					<xs:enumeration value="no trailers"/>
					<xs:enumeration value="no high profile vehicles"/>
					<xs:enumeration value="hazardous materials truck restriction"/>
					<xs:enumeration value="no through traffic"/>
					<xs:enumeration value="no motor vehicles"/>
					<xs:enumeration value="width limit"/>
					<xs:enumeration value="height limit"/>
					<xs:enumeration value="length limit"/>
					<xs:enumeration value="axle load limit"/>
					<xs:enumeration value="gross weight limit"/>
					<xs:enumeration value="axle count limit"/>
					<xs:enumeration value="carpool lane available"/>
					<xs:enumeration value="carpool restrictions changed"/>
					<xs:enumeration value="HOV 2: no single occupant vehicles"/>
					<xs:enumeration value="HOV 3: no vehicles with less than three occupants"/>
					<xs:enumeration value="bus lane available for all vehicles"/>
					<xs:enumeration value="truck lane available for all vehicles"/>
					<xs:enumeration value="permits call in basis"/>
					<xs:enumeration value="permits temporarily closed"/>
					<xs:enumeration value="permits closed"/>
					<xs:enumeration value="permits open"/>
					<xs:enumeration value="restrictions for high profile vehicles lifted"/>
					<xs:enumeration value="width limit lifted"/>
					<xs:enumeration value="height limit lifted"/>
					<xs:enumeration value="length limit lifted"/>
					<xs:enumeration value="axle load limit lifted"/>
					<xs:enumeration value="weight limit lifted"/>
					<xs:enumeration value="axle count limit lifted"/>
					<xs:enumeration value="carpool restrictions lifted"/>
					<xs:enumeration value="lane restrictions lifted"/>
					<xs:enumeration value="ramp restrictions lifted"/>
					<xs:enumeration value="motor vehicle restrictions lifted"/>
					<xs:enumeration value="restrictions lifted"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionLength_quantity -->
	<xs:simpleType name="Link-restriction-length">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="6000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWeightAxle_quantity -->
	<xs:simpleType name="Link-restriction-weight-axle">
		<xs:annotation>
			<xs:documentation>       
            kilograms
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="20000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWeightVehicle_quantity -->
	<xs:simpleType name="Link-restriction-weight-vehicle">
		<xs:annotation>
			<xs:documentation>       
            kilograms
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="80000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RestrictionWidth_quantity -->
	<xs:simpleType name="Link-restriction-width">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Link-road-number">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 64
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_RouteDesignator_identifier -->
	<xs:simpleType name="Link-route-designator">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 64
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_ShoulderWidthLeft_quantity -->
	<xs:simpleType name="Link-shoulder-width-left">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_ShoulderWidthRight_quantity -->
	<xs:simpleType name="Link-shoulder-width-right">
		<xs:annotation>
			<xs:documentation>       
            centimeters
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_SpeedAverage_rate -->
	<xs:simpleType name="Link-speed-average">
		<xs:annotation>
			<xs:documentation>       
            kilometers per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_SpeedLimit_rate -->
	<xs:simpleType name="Link-speed-limit">
		<xs:annotation>
			<xs:documentation>       
            kilometers per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_SpeedLimitTruck_rate -->
	<xs:simpleType name="Link-speed-limit-truck">
		<xs:annotation>
			<xs:documentation>       
            kilometers per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_Message-number -->
	<xs:simpleType name="Message-number">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="65000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_Node_Delay -->
	<xs:simpleType name="Node-delay">
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="605000"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_PersonOnSiteName_text -->
	<xs:simpleType name="Organization-contact-person-on-site-name-or-id">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 64
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_PersonOnSiteTitle_text -->
	<xs:simpleType name="Organization-person-on-site-title">
		<xs:annotation>
			<xs:documentation>       
            Any set of ASCII characters up to 64
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_ORGANIZATION_SubOrganizationIdentifier_identifier -->
	<xs:simpleType name="Organization-sub-organization-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: EXT_LINK_SpeedLimitAdvisory_rate -->
	<xs:simpleType name="Link-speed-limit-advisory">
		<xs:annotation>
			<xs:documentation>       
            kilometers per hour
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<!-- Descriptive Name: INTERSECTION_Identifier_identifier -->
	<xs:simpleType name="Intersection-identifier">
		<xs:annotation>
			<xs:documentation>       
            Any set of alphanumeric characters up to 32
         </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- END of the output -->
</xs:schema>
