onebusaway-nyc-tcip-api/src/main/resources/LRMS_Final_09_07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Cecil W. Goodwin (Consultant) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<!-- file names modified by Robert G. Ayers, PE for consistency with TCIP 3.0.0 on May 30 2006. No content changes were made. -->
<xs:schema xmlns:local="http://www.dummy-local-address" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.lrms-final-09-07" targetNamespace="http://www.lrms-final-09-07" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.dummy-local-address" schemaLocation="LRMS_09_07_Local.xsd"/>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:choice>
				<xs:element name="addressPoint" type="AddressPoint"/>
				<xs:element name="addressLink" type="AddressLink"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: AddressLinkframe -->
	<xs:complexType name="AddressLink">
		<xs:sequence>
			<xs:element name="fromStructureNumber" type="Text-name255"/>
			<xs:element name="toStructureNumber" type="Text-name255"/>
			<xs:element name="streetInfo" type="StreetInfo" minOccurs="0"/>
			<xs:element name="direction" type="Direction" minOccurs="0"/>
			<xs:element name="fromSide" type="Side" minOccurs="0"/>
			<xs:element name="toSide" type="Side" minOccurs="0"/>
			<xs:element name="fromHeight" type="Height" minOccurs="0"/>
			<xs:element name="toHeight" type="Height" minOccurs="0"/>
			<xs:element name="fromAdminAreas" type="AdminAreaGroup" minOccurs="0"/>
			<xs:element name="toAdminAreas" type="AdminAreaGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: AddressPointframe -->
	<xs:complexType name="AddressPoint">
		<xs:sequence>
			<xs:element name="structureNumber" type="Text-name255"/>
			<xs:element name="streetInfo" type="StreetInfo" minOccurs="0"/>
			<xs:element name="side" type="Side" minOccurs="0"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
			<xs:element name="adminAreas" type="AdminAreaGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: AdminAreaGroupframe -->
	<xs:complexType name="AdminAreaGroup">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="city" type="Text-name255"/>
			<xs:element name="county" type="Text-name255"/>
			<xs:element name="state" type="Text-name255"/>
			<xs:element name="postalCode" type="PostalCode"/>
			<xs:element name="countryCode" type="CountryCode"/>
			<xs:element name="stateFIPS" type="Int-index8"/>
			<xs:element name="entityIPS" type="Int-index32"/>
			<xs:element name="countyFIPS" type="Int-index16"/>
			<xs:element name="cityFIPS" type="Int-index32"/>
			<xs:element name="localAdminAreaGroup" type="local:AdminAreaGroup" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!-- Descriptive Name: Angleframe -->
	<xs:complexType name="Angle">
		<xs:choice>
			<xs:element name="deg">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="360"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rad">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="6.2832"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="cdeg">
				<xs:simpleType>
					<xs:restriction base="xs:unsignedShort">
						<xs:maxInclusive value="36000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- Descriptive Name: AreaLocationframe -->
	<xs:complexType name="AreaLocation">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="areaId" type="IdType" minOccurs="0"/>
			<xs:element name="adminAreas" type="AdminAreaGroup" minOccurs="0"/>
			<xs:element name="polygon" type="Polygon" minOccurs="0"/>
			<xs:element name="preCoded" type="PreCoded" minOccurs="0"/>
			<xs:element name="roads" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="3" maxOccurs="255">
						<xs:element name="road" type="StreetInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: Attributesframe -->
	<xs:complexType name="Attributes">
		<xs:sequence>
			<xs:element name="simpleAttributes" type="Text-name255" minOccurs="0" maxOccurs="100"/>
			<xs:element name="complexAttributes" type="Text-name255" minOccurs="0" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Chain">
		<xs:sequence>
			<xs:element name="chain">
				<xs:complexType>
					<xs:choice>
						<xs:element name="chainName" type="Text-name255"/>
						<xs:element name="chainId" type="IdType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="startNodeInfo" type="NodeAttribute" minOccurs="0"/>
			<xs:element name="endNodeInfo" type="NodeAttribute" minOccurs="0"/>
			<xs:element name="chainOffset" type="Distance" minOccurs="0"/>
			<xs:element name="startSequenceNum" type="SequenceNum" minOccurs="0"/>
			<xs:element name="endSequenceNum" type="SequenceNum" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<xs:complexType name="CrossStreets">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:choice>
				<xs:element name="crossStreetsPoint" type="CrossStreetsPoint"/>
				<xs:element name="crossStreetsLink" type="CrossStreetsLink"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: CrossStreetsLinkframe -->
	<xs:complexType name="CrossStreetsLink">
		<xs:sequence>
			<xs:element name="onStreetInfo" type="StreetInfo"/>
			<xs:element name="fromStreetInfo" type="StreetInfo"/>
			<xs:element name="toStreetInfo" type="StreetInfo"/>
			<xs:element name="startGeoLocation" type="GeoLocation" minOccurs="0"/>
			<xs:element name="endGeoLocation" type="GeoLocation" minOccurs="0"/>
			<xs:element name="startIntersectionType" type="IntersectionType" minOccurs="0"/>
			<xs:element name="endIntersectionType" type="IntersectionType" minOccurs="0"/>
			<xs:element name="offset1" type="Distance" minOccurs="0"/>
			<xs:element name="offset2" type="Distance" minOccurs="0"/>
			<xs:element name="direction" type="Direction" minOccurs="0"/>
			<xs:element name="side" type="Side" minOccurs="0"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
			<xs:element name="adminArea1" type="AdminAreaGroup" minOccurs="0"/>
			<xs:element name="adminArea2" type="AdminAreaGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: CrossStreetsPointframe -->
	<xs:complexType name="CrossStreetsPoint">
		<xs:sequence>
			<xs:element name="onStreetInfo" type="StreetInfo"/>
			<xs:element name="atStreetInfo" type="StreetInfo"/>
			<xs:element name="geoLocation" type="GeoLocation" minOccurs="0"/>
			<xs:element name="intersectionType" type="IntersectionType" minOccurs="0"/>
			<xs:element name="offset" type="Distance" minOccurs="0"/>
			<xs:element name="direction" type="Direction" minOccurs="0"/>
			<xs:element name="side" type="Side" minOccurs="0"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
			<xs:element name="adminAreas" type="AdminAreaGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: Distanceframe -->
	<xs:complexType name="Distance">
		<xs:choice>
			<xs:element name="m">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+10000000"/>
						<xs:minInclusive value="-10000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+10000000"/>
						<xs:minInclusive value="-10000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mm">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mmDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dm">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dmDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="yd">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+17600000"/>
						<xs:minInclusive value="-17600000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ydDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+17600000"/>
						<xs:minInclusive value="-17600000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ft">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+52800000"/>
						<xs:minInclusive value="-52800000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ftDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+52800000"/>
						<xs:minInclusive value="-52800000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="in">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="inDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+1000000"/>
						<xs:minInclusive value="-1000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mi">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:maxInclusive value="+10000"/>
						<xs:minInclusive value="-10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="miDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+10000"/>
						<xs:minInclusive value="-10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="km">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:maxInclusive value="+10000"/>
						<xs:minInclusive value="-10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="kmDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+10000"/>
						<xs:minInclusive value="-10000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="block">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:maxInclusive value="+1000"/>
						<xs:minInclusive value="-1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="blkDec">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="+1000"/>
						<xs:minInclusive value="-1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GeoCoord">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:choice>
				<xs:element name="geoLocationPoint" type="GeoLocation"/>
				<xs:element name="geoLocationLink" type="GeoLocationLink"/>
				<xs:element name="polarCoordinates" type="PolarCoordinates"/>
				<xs:element name="geoLocationDelta" type="GeoLocationDelta"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: GeoLocationframe -->
	<xs:complexType name="GeoLocation">
		<xs:sequence>
			<xs:element name="latitude" type="Latitude"/>
			<xs:element name="longitude" type="Longitude"/>
			<xs:element name="horizontalDatum" type="HorizontalDatum" minOccurs="0"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GeoLocationDeltaframe -->
	<xs:complexType name="GeoLocationDelta">
		<xs:sequence>
			<xs:element name="deltaHeight" type="Height" minOccurs="0"/>
			<xs:element name="delta">
				<xs:complexType>
					<xs:choice>
						<xs:element name="deltaCoords">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="deltaLatitude" type="Latitude"/>
									<xs:element name="deltaLongitude" type="Longitude"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="deltaDistance">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="offsetEast" type="Distance"/>
									<xs:element name="offsetNorth" type="Distance"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GeoLocationLinkframe -->
	<xs:complexType name="GeoLocationLink">
		<xs:sequence>
			<xs:element name="startPoint" type="GeoLocation"/>
			<xs:element name="endPoint" type="GeoLocation"/>
			<xs:element name="direction" type="Direction" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Geometry">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:choice>
				<xs:element name="node" type="GeoLocation"/>
				<xs:element name="nodeOffset">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="originNode" type="GeoLocation"/>
							<xs:element name="offsetEast" type="Distance"/>
							<xs:element name="offsetNorth" type="Distance"/>
							<xs:element name="offsetHeight" type="Height" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="link" type="GeoLocationLink"/>
				<xs:element name="area" type="IdType"/>
				<xs:element name="polygon" type="Polygon"/>
				<xs:element name="chain" type="Chain"/>
				<xs:element name="transition" type="Transition"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<xs:complexType name="Grid">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="gridArray" type="GridArray">
				<xs:annotation>
					<xs:documentation>sets of Grids</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gridPoint" type="GridPoint">
				<xs:annotation>
					<xs:documentation>sets of Points</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gridPointPair" type="GridPointPair">
				<xs:annotation>
					<xs:documentation>sets of pairs of Points</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gridPointSequence" type="GridPointSequence">
				<xs:annotation>
					<xs:documentation>set of points forming a line</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="localGrid" type="Grid" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: GridArrayframe -->
	<xs:complexType name="GridArray">
		<xs:sequence maxOccurs="10">
			<xs:element name="gridArray-item" type="GridInfo"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GridInfoframe -->
	<xs:complexType name="GridInfo">
		<xs:sequence>
			<xs:element name="id" type="Int-index8"/>
			<xs:element name="latitude" type="GridLatitude"/>
			<xs:element name="longitude" type="GridLongitude"/>
			<xs:element name="zoom" type="GridZoom"/>
			<xs:element name="altitude" type="GridAltitude" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GridPointframe -->
	<xs:complexType name="GridPoint">
		<xs:sequence>
			<xs:element name="pointCoordinateType" type="GridPointCoordinateType" minOccurs="0"/>
			<xs:element name="side" type="Side" minOccurs="0"/>
			<xs:element name="gridPointInfo">
				<!-- added name & element for gridPointInfo-item 8/18/2012 this was not decoding in a useful way, and different versions of LRMS show it with and without a name -->
				<xs:complexType>
					<xs:sequence maxOccurs="1000">
						<xs:element name="gridPointInfo-item">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="longitude" type="GridPointLongitude" minOccurs="0"/>
									<xs:element name="latitude" type="GridPointLatitude" minOccurs="0"/>
									<xs:element name="gridId" type="Int-index8" minOccurs="0"/>
									<xs:element name="latitudeDelta" type="GridPointLatLonDelta"/>
									<xs:element name="longitudeDelta" type="GridPointLatLonDelta"/>
									<xs:element name="altitudeDelta" type="GridPointAltitudeDelta" minOccurs="0"/>
									<xs:element name="offsetStart" type="GridPointOffsetDistance" minOccurs="0"/>
									<xs:element name="offsetEnd" type="GridPointOffsetDistance" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="localGridPoint" type="local:GridPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GridPointPairframe -->
	<xs:complexType name="GridPointPair">
		<xs:sequence>
			<xs:element name="pointPairCoordinateType" type="GridPointPairCoordinateType"/>
			<xs:element name="side" type="Side"/>
			<xs:element name="pointPairInfo">
				<xs:complexType>
					<xs:sequence maxOccurs="1000">
						<xs:element name="pointPairInfo-item">
							<!-- added name & element for pointPairInfo-item 8/18/2012 this was not decoding in a useful way, and different versions of LRMS show it with and without a name -->
							<xs:complexType>
								<xs:sequence>
									<xs:element name="startLongitude" type="GridPointLongitude" minOccurs="0"/>
									<xs:element name="startLatitude" type="GridPointLatitude" minOccurs="0"/>
									<xs:element name="endLongitude" type="GridPointLongitude" minOccurs="0"/>
									<xs:element name="endLatitude" type="GridPointLatitude" minOccurs="0"/>
									<xs:element name="gridId" type="Int-index8" minOccurs="0"/>
									<xs:element name="startLatitudeGridDelta" type="GridPointLatLonDelta"/>
									<xs:element name="startLongitudeGridDelta" type="GridPointLatLonDelta"/>
									<xs:element name="endLatitudeGridDelta" type="GridPointLatLonDelta"/>
									<xs:element name="endLongitudeGridDelta" type="GridPointLatLonDelta"/>
									<xs:element name="endLatitudePointDelta" type="GridLatLonPointDelta"/>
									<xs:element name="endLongitudePointDelta" type="GridLatLonPointDelta"/>
									<xs:element name="startAltitudeGridDelta" type="GridAltitudeDelta" minOccurs="0"/>
									<xs:element name="endAltitudeGridDelta" type="GridAltitudeDelta" minOccurs="0"/>
									<xs:element name="offsetStart" type="NormalizedDistance" minOccurs="0"/>
									<xs:element name="offsetEnd" type="NormalizedDistance" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="localGridPointPair" type="local:GridPointPair" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: GridPointSequenceframe -->
	<!-- Descriptive Name: GridPointSequenceframe -->
    <xs:complexType name="GridPointSequence">
        <xs:sequence>
            <xs:element name="pointPairCoordinateType" type="GridPointPairCoordinateType"/>
            <xs:element name="side" type="Side"/>
            <xs:element name="startLongitude" type="GridPointLongitude" minOccurs="0"/>
            <xs:element name="startLatitude" type="GridPointLatitude" minOccurs="0"/>
            <xs:element name="endLongitude" type="GridPointLongitude" minOccurs="0"/>
            <xs:element name="endLatitude" type="GridPointLatitude" minOccurs="0"/>
            <xs:element name="gridId" type="Int-index8" minOccurs="0"/>
            <xs:element name="startLatitudeGridDelta" type="GridPointLatLonDelta"/>
            <xs:element name="startLongitudeGridDelta" type="GridPointLatLonDelta"/>
            <xs:element name="pointPairInfo">
                <xs:complexType>
                    <xs:sequence maxOccurs="1000">
                        <xs:element name="pointPairInfo-item"> <!-- added name as this would not decode correctly -->
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nextLatitudeGridDelta" type="GridPointLatLonDelta"/>
                                    <xs:element name="nextLongitudeGridDelta" type="GridPointLatLonDelta"/>
                                    <xs:element name="nextLatitudePointDelta" type="GridLatLonPointDelta"/>
                                    <xs:element name="nextLongitudePointDelta" type="GridLatLonPointDelta"/>
                                    <xs:element name="startAltitudeGridDelta" type="GridAltitudeDelta" minOccurs="0"/>
                                    <xs:element name="nextAltitudeGridDelta" type="GridAltitudeDelta" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                       </xs:element >
                    </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="localGridPointSequence" type="local:GridPointSequence" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

	<!-- Descriptive Name: GroupLocationframe -->
	<xs:complexType name="GroupLocation">
		<xs:sequence>
			<xs:element name="groupName" type="Text-name255" minOccurs="0"/>
			<xs:choice maxOccurs="100">
				<xs:element name="pointLocation" type="PointLocation"/>
				<xs:element name="linkLocation" type="LinkLocation"/>
				<xs:element name="areaLocation" type="AreaLocation"/>
				<xs:element name="referenceLocation" type="LocationReference"/>
				<xs:element name="routeLocation" type="RouteLocation"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: Heightframe -->
	<xs:complexType name="Height">
		<xs:choice>
			<xs:sequence>
				<xs:element name="altitude" type="Distance"/>
				<xs:element name="verticalDatum" type="VerticalDatum" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="verticalLevel" type="VerticalLevel"/>
		</xs:choice>
	</xs:complexType>
	<!-- Descriptive Name: IdTypeframe -->
	<xs:complexType name="IdType">
		<xs:sequence>
			<xs:element name="intOrAlpha">
				<xs:complexType>
					<xs:choice>
						<xs:element name="id" type="Int-index32"/>
						<xs:element name="idAlpha" type="String-index64"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="databaseID" type="String-index64"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: LinkGeneralframe -->
	<xs:complexType name="LinkGeneral">
		<xs:sequence>
			<xs:element name="startLocation" type="PointLocation"/>
			<xs:element name="endLocation" type="PointLocation"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: LinkLocationframe -->
	<xs:complexType name="LinkLocation">
		<xs:sequence>
			<xs:element name="linkName" type="Text-name255" minOccurs="0"/>
			<xs:element name="linkEndpoints" type="LinkGeneral" minOccurs="0"/>
			<xs:element name="linkId" type="IdType" minOccurs="0"/>
			<xs:element name="addressLink" type="AddressLink" minOccurs="0"/>
			<xs:element name="linearReferenceLink" type="LinearReference" minOccurs="0"/>
			<xs:element name="crossStreetsLink" type="CrossStreetsLink" minOccurs="0"/>
			<xs:element name="geoLocationLink" type="GeoLocationLink" minOccurs="0"/>
			<xs:element name="gridLink" type="GridPointPair" minOccurs="0"/>
			<xs:element name="preCodedLink" type="PreCoded" minOccurs="0"/>
			<xs:element name="adminAreas" type="AdminAreaGroup" minOccurs="0"/>
			<xs:element name="linkType" type="LinkType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<xs:complexType name="LinearReference">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="linearRefMethod" type="LRMethod" minOccurs="0"/>
			<xs:element name="transElement" type="StreetInfo" minOccurs="0"/>
			<xs:element name="startRefPoint" type="PointLocation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start  (first)  reference point </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endRefPoint" type="PointLocation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End  (second_ reference point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startDistance" type="Distance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>from start of element or the start reference point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDistance" type="Distance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>from start of element or the second reference point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startNormDistance" type="NormalizedDistance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>percentage of link length from start of element or start reference point to start of referenced link</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endNormDistance" type="NormalizedDistance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>percentage of link length from start of element or start reference point to end of referenced link. Note: normalized distances should only be used for references involving known link lengths</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distanceDirection" type="Direction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>direction for distance measures along the transport element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lateralOffsetRef" type="LROffsetRef" minOccurs="0">
				<xs:annotation>
					<xs:documentation>defines from where lateral offset is measured.  'centerline' is the default value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="positiveOffsetDir" type="LRPosOffsetDir" minOccurs="0">
				<xs:annotation>
					<xs:documentation>positive direction of a lateral offset. 'right' is the default value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startLateralOffset" type="Distance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>start offset perpendicular to the road</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endLateralOffset" type="Distance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>end offset perpendicular to the road</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="travelDirection" type="Direction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>direction the vehicle is traveling -- may be different from the distance direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="side" type="Side" minOccurs="0">
				<xs:annotation>
					<xs:documentation>of the referenced point or link</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startHeight" type="Height" minOccurs="0">
				<xs:annotation>
					<xs:documentation>of the first (start) referenced point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endheight" type="Height" minOccurs="0">
				<xs:annotation>
					<xs:documentation>of the second (ending) point of a link</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startAdminAreas" type="AdminAreaGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>of the first (start) referenced point</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endAdminAreas" type="AdminAreaGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>of the second (ending) point of a link</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: LocationReferenceframe -->
	<xs:complexType name="LocationReference">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="externalID" type="IdType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="pointLocation" type="PointLocation" minOccurs="0"/>
				<xs:element name="linkLocation" type="LinkLocation" minOccurs="0"/>
				<xs:element name="areaLocation" type="AreaLocation" minOccurs="0"/>
				<xs:element name="chain" type="Chain" minOccurs="0"/>
				<xs:element name="transition" type="Transition" minOccurs="0"/>
				<xs:element name="groupLocation" type="GroupLocation" minOccurs="0"/>
				<xs:element name="routeLocation" type="RouteLocation" minOccurs="0"/>
				<xs:element name="geometry" type="Geometry" minOccurs="0"/>
				<xs:element name="geoCoord" type="GeoCoord" minOccurs="0"/>
				<xs:element name="grid" type="Grid" minOccurs="0"/>
				<xs:element name="linearReference" type="LinearReference" minOccurs="0"/>
				<xs:element name="crossStreets" type="CrossStreets" minOccurs="0"/>
				<xs:element name="address" type="Address" minOccurs="0"/>
				<xs:element name="preCoded" type="PreCoded" minOccurs="0"/>
				<xs:element name="nodeAttribute" type="NodeAttribute" minOccurs="0"/>
				<xs:element name="spatialObject" type="SpatialObject" minOccurs="0"/>
				<xs:element name="publicGrid" type="PublicGrid" minOccurs="0"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: NodeAttributeframe -->
	<xs:complexType name="NodeAttribute">
		<xs:sequence>
			<xs:element name="nodeId" type="IdType" minOccurs="0"/>
			<xs:element name="chainId" type="IdType" minOccurs="0"/>
			<xs:element name="nodeOrigin" type="NodeOrigin" minOccurs="0"/>
			<xs:element name="nodeValence" type="NodeValence" minOccurs="0"/>
			<xs:element name="geoLocation" type="GeoLocation" minOccurs="0"/>
			<xs:element name="streets" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="10">
						<xs:element name="street" type="StreetInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="localNodeAttribute" type="local:NodeAttribute" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: PointLocationframe -->
	<xs:complexType name="PointLocation">
		<xs:sequence>
			<xs:element name="pointName" type="Text-name255" minOccurs="0"/>
			<xs:element name="pointNodeId" type="IdType" minOccurs="0"/>
			<xs:element name="pointType" type="PointType" minOccurs="0"/>
			<xs:element name="pointOffset" type="PointOffset" minOccurs="0"/>
			<xs:element name="polarCoordinates" type="PolarCoordinates" minOccurs="0"/>
			<xs:element name="linearReferencePoint" type="LinearReference" minOccurs="0"/>
			<xs:element name="addressPoint" type="AddressPoint" minOccurs="0"/>
			<xs:element name="crossStreetsPoint" type="CrossStreetsPoint" minOccurs="0"/>
			<xs:element name="grid" type="GridPoint" minOccurs="0"/>
			<xs:element name="publicGrid" type="PublicGrid" minOccurs="0"/>
			<xs:element name="geoLocationPoint" type="GeoLocation" minOccurs="0"/>
			<xs:element name="adminArea" type="AdminAreaGroup" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: PointOffsetframe -->
	<xs:complexType name="PointOffset">
		<xs:sequence>
			<xs:element name="point" type="PointLocation"/>
			<xs:element name="offsetEast" type="Distance"/>
			<xs:element name="offsetNorth" type="Distance"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: PolarCoordinatesframe -->
	<xs:complexType name="PolarCoordinates">
		<xs:sequence>
			<xs:element name="point" type="PointLocation"/>
			<xs:element name="angularDirection" type="Angle"/>
			<xs:element name="angularDistance" type="Distance"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Polygon">
		<xs:sequence>
			<xs:element name="polygonName" type="Text-name255" minOccurs="0"/>
			<xs:element name="vertex" type="PointLocation" minOccurs="3" maxOccurs="255"/>
		</xs:sequence>
		<xs:attribute name="polygonID" type="String-index64"/>
	</xs:complexType>
	<xs:complexType name="PreCoded">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="idType" type="PreCodedIdType" minOccurs="0"/>
			<xs:element name="alertcCountryCode" type="AlertCCountryCode" minOccurs="0"/>
			<xs:element name="locationTable" type="LocationTable" minOccurs="0"/>
			<xs:element name="locationCode" type="LocationCode" minOccurs="0"/>
			<xs:element name="countryCode" type="CountryCode" minOccurs="0"/>
			<xs:element name="registryNumericId" type="Int-index16" minOccurs="0"/>
			<xs:element name="registryAlphanumId" type="Text-name255" minOccurs="0"/>
			<xs:element name="alphanumId" type="String-index64" minOccurs="0"/>
			<xs:element name="numericIdxSize8" type="NumericIDXSize8" minOccurs="0"/>
			<xs:element name="numericIdxSize12" type="NumericIDXSize12" minOccurs="0"/>
			<xs:element name="numericIdxSize16" type="NumericIDXSize16" minOccurs="0"/>
			<xs:element name="numericIdxSize32" type="NumericIDXSize32" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<xs:complexType name="PublicGrid">
		<xs:sequence>
			<xs:element name="gridName" type="Text-name255" minOccurs="0"/>
			<xs:choice>
				<xs:element name="usng" type="PublicGridUSNG"/>
				<xs:element name="localReference" type="PublicGridLocalReference"/>
				<xs:element name="statePlane" type="PublicGridStatePlane"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: PublicGridLocalReferenceframe -->
	<xs:complexType name="PublicGridLocalReference">
		<xs:sequence>
			<xs:element name="gridCode" type="String-index64" minOccurs="0"/>
			<xs:element name="cellId" type="IdType" minOccurs="0"/>
			<xs:element name="nodeId" type="IdType" minOccurs="0"/>
			<xs:element name="gridStep" type="PublicGridGridStep" minOccurs="0"/>
			<xs:element name="eastWestDelta" type="PublicGridEastWestDelta" minOccurs="0"/>
			<xs:element name="northSouthDelta" type="PublicGridNorthSouthDelta" minOccurs="0"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
			<xs:element name="horizontalDatum" type="HorizontalDatum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: PublicGridStatePlaneframe -->
	<xs:complexType name="PublicGridStatePlane">
		<xs:sequence>
			<xs:element name="statePlaneZone" type="PublicGridStatePlaneZone"/>
			<xs:element name="horDatum" type="HorizontalDatum" minOccurs="0"/>
			<xs:element name="units">
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base="xs:unsignedInt">
								<xs:maxInclusive value="1"/>
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="USSurveyFoot"/>
								<xs:enumeration value="meters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:union>
				</xs:simpleType>
			</xs:element>
			<xs:element name="easting32" type="xs:float"/>
			<xs:element name="northing32" type="xs:float"/>
			<xs:element name="height" type="Height" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: PublicGridUSNGframe -->
	<xs:complexType name="PublicGridUSNG">
		<xs:sequence>
			<xs:element name="gridZone" type="PublicGridGridZone"/>
			<xs:element name="gridSquare" type="PublicGridGridSquare"/>
			<xs:element name="gridStep" type="PublicGridGridStep"/>
			<xs:choice>
				<xs:element name="easting16" type="PublicGridEasting16"/>
				<xs:element name="easting32" type="PublicGridEasting32"/>
			</xs:choice>
			<xs:choice>
				<xs:element name="northing16" type="PublicGridNorthing16"/>
				<xs:element name="northing32" type="PublicGridNorthing32"/>
			</xs:choice>
			<xs:element name="horDatum" type="HorizontalDatum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: RouteLocationframe -->
	<xs:complexType name="RouteLocation">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="pointLocation" type="PointLocation" minOccurs="0"/>
				<xs:element name="linkLocation" type="LinkLocation" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: SpatialObjectframe -->
	<xs:complexType name="SpatialObject">
		<xs:sequence>
			<xs:element name="locationName" type="Text-name255" minOccurs="0"/>
			<xs:element name="objectId" type="IdType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="pointOrNodeObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pointOrNode" type="PointLocation"/>
							<xs:element name="pointAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="linkObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="link" type="LinkLocation"/>
							<xs:element name="linkAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="chainObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="chain" type="Chain"/>
							<xs:element name="chainAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="transitionObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="transition" type="Transition"/>
							<xs:element name="transitionAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="areaObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="area" type="AreaLocation"/>
							<xs:element name="areaAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="polygonObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="polygon" type="Polygon"/>
							<xs:element name="polygonAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="routeObject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="route" type="RouteLocation"/>
							<xs:element name="routeAttributes" type="Attributes" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: StreetInfoframe -->
	<xs:complexType name="StreetInfo">
		<xs:choice>
			<xs:sequence>
				<xs:element name="prefix" type="Text-name-presuf4" minOccurs="0" maxOccurs="4"/>
				<xs:element name="name" type="Text-name255"/>
				<xs:element name="suffix" type="Text-name-presuf4" minOccurs="0" maxOccurs="4"/>
			</xs:sequence>
			<xs:element name="streetIndex" type="IdType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Transition">
		<xs:sequence>
			<xs:element name="transitionName" type="Text-name255" minOccurs="0"/>
			<xs:element name="transitionId" type="IdType"/>
			<xs:element name="transitionOffset" type="Distance" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="locationID" type="String-index64"/>
	</xs:complexType>
	<!-- Descriptive Name: AlertCCountryCodenbr -->
	<xs:simpleType name="AlertCCountryCode">
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="15"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="country-code-text"/>
	</xs:simpleType>
	<xs:simpleType name="Direction">
		<xs:annotation>
			<xs:documentation>
            north (0)
            south (1)
            east (2)
            west (3)
            northeast (4)
            northwest (5)
            southeast (6)
            southwest (7)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="7"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="north"/>
					<xs:enumeration value="south"/>
					<xs:enumeration value="east"/>
					<xs:enumeration value="west"/>
					<xs:enumeration value="northeast"/>
					<xs:enumeration value="northwest"/>
					<xs:enumeration value="southeast"/>
					<xs:enumeration value="southwest"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="GridAltitude">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="4095"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridAltitudeDelta">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="2048"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridLatitude">
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="+10987"/>
			<xs:minInclusive value="-10987"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridLatLonPointDelta">
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="254"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridLongitude">
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="+21973"/>
			<xs:minInclusive value="-21973"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridPointAltitudeDelta">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="16374"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridPointCoordinateType">
		<xs:annotation>
			<xs:documentation>
            32-bit-lat-long (0)
            point-with-delta (1)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="1"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="32-bit-lat-long"/>
					<xs:enumeration value="point-with-delta"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="GridPointLatitude">
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="+720000000"/>
			<xs:minInclusive value="-720000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridPointLatLonDelta">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="16383"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridPointLongitude">
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="+1440000000"/>
			<xs:minInclusive value="-1440000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GridPointOffsetDistance">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<xs:simpleType name="GridPointPairCoordinateType">
		<xs:annotation>
			<xs:documentation>
            32-bit-lat-long (0)
            point-with-14bit-delta (1)
            point (2)
            variable (3)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:maxInclusive value="3"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="32-bit-lat-long"/>
					<xs:enumeration value="point-with-14bit-delta"/>
					<xs:enumeration value="point"/>
					<xs:enumeration value="variable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
		<!-- formerly GridPointPairCoordinateType-item -->
	</xs:simpleType>
	<!-- this relationship between GridPointPairCoordinateType & GridPointPairCoordinateType-item failed to validate-->
	<!--
	<xs:simpleType name="GridPointPairCoordinateType">
		<xs:list itemType="GridPointPairCoordinateType-item"/>
	</xs:simpleType>
		-->
	<xs:simpleType name="GridZoom">
		<xs:restriction base="xs:byte">
			<xs:maxInclusive value="+6"/>
			<xs:minInclusive value="-5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HorizontalDatum">
		<xs:annotation>
			<xs:documentation>
            wgs-84 (0)
            wgs-84egm-96 (1)
            nad83 (2)
            nad27 (3) 
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="3"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="wgs-84"/>
					<xs:enumeration value="wgs-84egm-96"/>
					<xs:enumeration value="nad83"/>
					<xs:enumeration value="nad27"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="IntersectionType">
		<xs:annotation>
			<xs:documentation>
            simple (0) -- Road crossing that has no internal road elements.
             -- Represented in any map database by just one GDF junction.
            complex (1) -- Road crossing that has one or more internal
             -- road elements that can be considered part of the road crossing.
             -- Represented in higher resolution map databases by several
             -- GDF road elements and junctions.
            gradeSeparated (2) -- Non-topological intersection of roads ,  for example an overpass.
            roundabout (3) -- Closed ,  one-way loop for the regulation of traffic flow at grade.
            square (4) -- An area of regulated traffic flow around an obstruction such as a fountain.
            interchange (5) -- A complex feature composed of all the road elements and junctions forming a crossing.
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="5"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="simple"/>
					<xs:enumeration value="complex"/>
					<xs:enumeration value="gradeSeparated"/>
					<xs:enumeration value="roundabout"/>
					<xs:enumeration value="square"/>
					<xs:enumeration value="interchange"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="Int-index12">
		<xs:restriction base="xs:unsignedShort">
			<xs:maxInclusive value="4095"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Int-index16">
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<xs:simpleType name="Int-index32">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="Int-index8">
		<xs:restriction base="xs:unsignedByte"/>
	</xs:simpleType>
	<xs:simpleType name="Int-latitude32">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="-90000000"/>
			<xs:maxInclusive value="+90000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Int-loccode16">
		<xs:restriction base="xs:unsignedShort">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Int-loctable8">
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="63"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Int-longitude32">
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="+180000000"/>
			<xs:minInclusive value="-180000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Latitude">
		<xs:restriction base="Int-latitude32"/>
	</xs:simpleType>
	<xs:simpleType name="LinkType">
		<xs:annotation>
			<xs:documentation>
            freeway (1)
            arterial (2)
            collector (3)
            local (4)
            service road (7)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="7"/>
					<xs:minInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="freeway"/>
					<xs:enumeration value="arterial"/>
					<xs:enumeration value="collector"/>
					<xs:enumeration value="local"/>
					<xs:enumeration value="service road"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="LocationCode">
		<xs:restriction base="Int-loccode16"/>
	</xs:simpleType>
	<xs:simpleType name="LocationTable">
		<xs:restriction base="Int-loctable8"/>
	</xs:simpleType>
	<xs:simpleType name="Longitude">
		<xs:restriction base="Int-longitude32"/>
	</xs:simpleType>
	<xs:simpleType name="LRMethod">
		<xs:annotation>
			<xs:documentation>
            milepoint (0)
            kilopoint (1)
            percentage (2)
            milepost (3)
            referencePost (4)
            countyMilepost (5)
            stationing (6)
            streetAddress (7)
            crossStreet (8)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="8"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="milepoint"/>
					<xs:enumeration value="kilopoint"/>
					<xs:enumeration value="percentage"/>
					<xs:enumeration value="milepost"/>
					<xs:enumeration value="referencePost"/>
					<xs:enumeration value="countyMilepost"/>
					<xs:enumeration value="stationing"/>
					<xs:enumeration value="streetAddress"/>
					<xs:enumeration value="crossStreet"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="LROffsetRef">
		<xs:annotation>
			<xs:documentation>
            centerline (0)
            edgeOfTravel (1)
            rightOfWay (2)
            curbFace (3)
            curbBack (4)
            edgeOfShoulder (5)
            edgeOfBerm (6)
            walkwayInside (7)
            walkwayOutside (8)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="8"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="centerline"/>
					<xs:enumeration value="edgeOfTravel"/>
					<xs:enumeration value="rightOfWay"/>
					<xs:enumeration value="curbFace"/>
					<xs:enumeration value="curbBack"/>
					<xs:enumeration value="edgeOfShoulder"/>
					<xs:enumeration value="edgeOfBerm"/>
					<xs:enumeration value="walkwayInside"/>
					<xs:enumeration value="walkwayOutside"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="LRPosOffsetDir">
		<xs:annotation>
			<xs:documentation>
            right (0) -- Positive direction for lateral offset is right
            left (1) -- Positive direction for lateral offset is left
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="1"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="right"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="NodeOrigin">
		<xs:annotation>
			<xs:documentation>
            NationalDataset (0)
            Regional/LocalDataset (1)
            ProprietaryDataset (2)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="2"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NationalDataset"/>
					<xs:enumeration value="Regional/LocalDataset"/>
					<xs:enumeration value="ProprietaryDataset"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="NodeValence">
		<xs:restriction base="xs:unsignedByte">
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericIDXSize12">
		<xs:restriction base="Int-index12"/>
	</xs:simpleType>
	<xs:simpleType name="NumericIDXSize16">
		<xs:restriction base="Int-index16"/>
	</xs:simpleType>
	<xs:simpleType name="NumericIDXSize32">
		<xs:restriction base="Int-index32"/>
	</xs:simpleType>
	<xs:simpleType name="NumericIDXSize8">
		<xs:restriction base="Int-index8"/>
	</xs:simpleType>
	<xs:simpleType name="PointType">
		<xs:annotation>
			<xs:documentation>
            airport (1)
            amusementPark (2)
            bank (3)
            beach (4)
            bodyOfWater (5)
            bridgeOverpass (6)
            businessDistrict (7)
            busStation (8)
            campground (9)
            capitalBuilding (10)
            casino (11)
            cemetary (12)
            church (13)
            collegeUniversity (14)
            conventionCenter (15)
            countySeat (16)
            courthouse (17)
            dam (18)
            employmentCenter (19)
            fairground (20)
            fareOutlet (21)
            gasStation (22)
            golfCourse (23)
            governmentBuilding (24)
            groceryStore (25)
            historicalSite (26)
            hospital (27)
            hotelMotel (28)
            indigineousReserve (29)
            intermodalStation (30)
            landfill (31)
            library (32)
            lighthouse (33)
            marina (34)
            militaryFacility (35)
            monument (36)
            museum (37)
            observatory (38)
            officeBuilding (39)
            operaHouse (40)
            park (41)
            parkAndPool (42)
            parkAndRide (43)
            parkingFacility (44)
            pier (45)
            port (46)
            residence (47)
            resort (48)
            restaurant (49)
            school (50)
            shoppingCenter (51)
            sportsArena (52)
            swampWetland (53)
            theater (54)
            trainStation (55)
            trolleyStation (56)
            tunnel (57)
            tunnelStation (58)
            volcano (59)
            watertfall (60)
            winery (61)
            zoo (62) -- 63-150 reserved
             -- 151-200 local use
             -- 201-249 reserved
            otherLandmark (250) -- 251-255 reserved
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="250"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="airport"/>
					<xs:enumeration value="amusementPark"/>
					<xs:enumeration value="bank"/>
					<xs:enumeration value="beach"/>
					<xs:enumeration value="bodyOfWater"/>
					<xs:enumeration value="bridgeOverpass"/>
					<xs:enumeration value="businessDistrict"/>
					<xs:enumeration value="busStation"/>
					<xs:enumeration value="campground"/>
					<xs:enumeration value="capitalBuilding"/>
					<xs:enumeration value="casino"/>
					<xs:enumeration value="cemetary"/>
					<xs:enumeration value="church"/>
					<xs:enumeration value="collegeUniversity"/>
					<xs:enumeration value="conventionCenter"/>
					<xs:enumeration value="countySeat"/>
					<xs:enumeration value="courthouse"/>
					<xs:enumeration value="dam"/>
					<xs:enumeration value="employmentCenter"/>
					<xs:enumeration value="fairground"/>
					<xs:enumeration value="fareOutlet"/>
					<xs:enumeration value="gasStation"/>
					<xs:enumeration value="golfCourse"/>
					<xs:enumeration value="governmentBuilding"/>
					<xs:enumeration value="groceryStore"/>
					<xs:enumeration value="historicalSite"/>
					<xs:enumeration value="hospital"/>
					<xs:enumeration value="hotelMotel"/>
					<xs:enumeration value="indigineousReserve"/>
					<xs:enumeration value="intermodalStation"/>
					<xs:enumeration value="landfill"/>
					<xs:enumeration value="library"/>
					<xs:enumeration value="lighthouse"/>
					<xs:enumeration value="marina"/>
					<xs:enumeration value="militaryFacility"/>
					<xs:enumeration value="monument"/>
					<xs:enumeration value="museum"/>
					<xs:enumeration value="observatory"/>
					<xs:enumeration value="officeBuilding"/>
					<xs:enumeration value="operaHouse"/>
					<xs:enumeration value="park"/>
					<xs:enumeration value="parkAndPool"/>
					<xs:enumeration value="parkAndRide"/>
					<xs:enumeration value="parkingFacility"/>
					<xs:enumeration value="pier"/>
					<xs:enumeration value="port"/>
					<xs:enumeration value="residence"/>
					<xs:enumeration value="resort"/>
					<xs:enumeration value="restaurant"/>
					<xs:enumeration value="school"/>
					<xs:enumeration value="shoppingCenter"/>
					<xs:enumeration value="sportsArena"/>
					<xs:enumeration value="swampWetland"/>
					<xs:enumeration value="theater"/>
					<xs:enumeration value="trainStation"/>
					<xs:enumeration value="trolleyStation"/>
					<xs:enumeration value="tunnel"/>
					<xs:enumeration value="tunnelStation"/>
					<xs:enumeration value="volcano"/>
					<xs:enumeration value="watertfall"/>
					<xs:enumeration value="winery"/>
					<xs:enumeration value="zoo"/>
					<xs:enumeration value="otherLandmark"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="local:ExtendedPointType"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="PostalCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NormalizedDistance">
		<xs:restriction base="xs:float">
			<xs:maxInclusive value="100"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PreCodedIdType">
		<xs:annotation>
			<xs:documentation>
            AlertC (0)
            Registry (1)
            AlphanumId (2)
            NumericIdx (3)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="3"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="AlertC"/>
					<xs:enumeration value="Registry"/>
					<xs:enumeration value="AlphanumId"/>
					<xs:enumeration value="NumericIdx"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="PublicGridEasting16">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PublicGridEasting32">
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="1000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridEastWestDelta">
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="+10000"/>
			<xs:minInclusive value="-10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridGridSquare">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridGridStep">
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="10000"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridGridZone">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridNorthing16">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PublicGridNorthing32">
		<xs:restriction base="xs:unsignedInt">
			<xs:maxInclusive value="1000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridNorthSouthDelta">
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="+10000"/>
			<xs:minInclusive value="-10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicGridStatePlaneZone">
		<xs:restriction base="Int-index16"/>
	</xs:simpleType>
	<xs:simpleType name="SequenceNum">
		<xs:restriction base="Int-index16"/>
	</xs:simpleType>
	<xs:simpleType name="Side">
		<xs:annotation>
			<xs:documentation>
            unknown (0)
            right (1)
            left (2)
            both (3)
            north (4)
            south (5)
            east (6)
            west (7)
            northeast (8)
            northwest (9)
            southeast (10)
            southwest (11)
            northAndSouth (12)
            eastAndWest (13)
            all (14)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="14"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="unknown"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="both"/>
					<xs:enumeration value="north"/>
					<xs:enumeration value="south"/>
					<xs:enumeration value="east"/>
					<xs:enumeration value="west"/>
					<xs:enumeration value="northeast"/>
					<xs:enumeration value="northwest"/>
					<xs:enumeration value="southeast"/>
					<xs:enumeration value="southwest"/>
					<xs:enumeration value="northAndSouth"/>
					<xs:enumeration value="eastAndWest"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="String-index64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text-name255">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text-name-presuf4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VerticalDatum">
		<xs:annotation>
			<xs:documentation>
            wgs-84 (0)
            navd (1)
         </xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:unsignedInt">
					<xs:maxInclusive value="1"/>
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="wgs-84"/>
					<xs:enumeration value="navd"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="VerticalLevel">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="-128"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- END of the output -->
	<xs:element name="locationReference" type="LocationReference"/>
	<!-- pasted in from DSRC schema to make this copy of LRMS independent of the separate schema -->
	<xs:simpleType name="country-code-text">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dummy1"/>
			<xs:enumeration value="dummy2"/>
			<xs:enumeration value="US"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
