onebusaway-nyc-tcip-api/src/main/resources/TCIP_4_0_0_Local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Developed by Ayers Electronic Systems, LLC under contract to ARINC, and the American Public Transportation Association (APTA) -->
<!-- Local Schema production output by APTA Data Definition and Message Editor (ADDAME)  -->
<!-- RunStartTime = 11:00:07 AM -->
<xs:schema elementFormDefault="unqualified" targetNamespace="http://www.tcip-4-0-0-local" xmlns="http://www.tcip-4-0-0-local" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- A home for TCIPVersion 4.0.0 Local Schema -->
<!-- begin definition of Local Extensions for TCIP messages, frames, and data elements -->

<!-- Message CcCancelTrips-->
<xs:complexType name="CcCancelTrips">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcWorkOrderUpdate-->
<xs:complexType name="CcWorkOrderUpdate">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message TspBusinessRules-->
<xs:complexType name="TspBusinessRules">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcPassengerAlarm-->
<xs:complexType name="CcPassengerAlarm">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message FcReportReconcileCashbox-->
<xs:complexType name="FcReportReconcileCashbox">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message FcReportVaultEvent-->
<xs:complexType name="FcReportVaultEvent">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcWorkOrderAssign-->
<xs:complexType name="CcWorkOrderAssign">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message ObNotifyTripStart-->
<xs:complexType name="ObNotifyTripStart">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message ImCommandIncidentResponse-->
<xs:complexType name="ImCommandIncidentResponse">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcFleetPassengerData-->
<xs:complexType name="CcFleetPassengerData">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcFleetMechanicalData-->
<xs:complexType name="CcFleetMechanicalData">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message FcReportCashboxEvent-->
<xs:complexType name="FcReportCashboxEvent">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcTravelerAlarm-->
<xs:complexType name="CcTravelerAlarm">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcOperatingData-->
<xs:complexType name="CcOperatingData">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcFleetLocation-->
<xs:complexType name="CcFleetLocation">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcFleetHealthAlarm-->
<xs:complexType name="CcFleetHealthAlarm">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcOpenWorkorder-->
<xs:complexType name="CcOpenWorkorder">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcAdherencePerformance-->
<xs:complexType name="CcAdherencePerformance">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message ImSilentAlarm-->
<xs:complexType name="ImSilentAlarm">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcLocationReport-->
<xs:complexType name="CcLocationReport">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcOperatorSignOn-->
<xs:complexType name="CcOperatorSignOn">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcOnboardConfigurationData-->
<xs:complexType name="CcOnboardConfigurationData">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcOperatorSignOff-->
<xs:complexType name="CcOperatorSignOff">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcVehicleShutdownReport-->
<xs:complexType name="CcVehicleShutdownReport">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcVehicleStartupReport-->
<xs:complexType name="CcVehicleStartupReport">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcNotifyDetour-->
<xs:complexType name="CcNotifyDetour">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcPTVPerformanceData-->
<xs:complexType name="CcPTVPerformanceData">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcChangeAssignments-->
<xs:complexType name="CcChangeAssignments">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message FcFareHealth-->
<xs:complexType name="FcFareHealth">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcReportServiceEvent-->
<xs:complexType name="CcReportServiceEvent">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SpGISPush-->
<xs:complexType name="SpGISPush">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SpGIS-->
<xs:complexType name="SpGIS">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchPushRunSchedule-->
<xs:complexType name="SchPushRunSchedule">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchRunScheduleFile-->
<xs:complexType name="SchRunScheduleFile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchRunScheduleList-->
<xs:complexType name="SchRunScheduleList">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchPushBlockSchedule-->
<xs:complexType name="SchPushBlockSchedule">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchBlockScheduleList-->
<xs:complexType name="SchBlockScheduleList">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message SchBlockScheduleFile-->
<xs:complexType name="SchBlockScheduleFile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcPTVInspection-->
<xs:complexType name="CcPTVInspection">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcGISFile-->
<xs:complexType name="CcGISFile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Message CcLR-->
<xs:complexType name="CcLR">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIAgencyProfile-->
<xs:complexType name="PIAgencyProfile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIAgencyStaticFile-->
<xs:complexType name="PIAgencyStaticFile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIGeoZone-->
<xs:complexType name="PIGeoZone">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIRouteInfo-->
<xs:complexType name="PIRouteInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCFareZoneDefinition-->
<xs:complexType name="FCFareZoneDefinition">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHValidationError-->
<xs:complexType name="SCHValidationError">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHPatternSegment-->
<xs:complexType name="SCHPatternSegment">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHRunningTimeEntry-->
<xs:complexType name="SCHRunningTimeEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCFareboxAccessPermission-->
<xs:complexType name="FCFareboxAccessPermission">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCValidationError-->
<xs:complexType name="FCValidationError">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame OBBoardAlightRecord-->
<xs:complexType name="OBBoardAlightRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PICustomerProfile-->
<xs:complexType name="PICustomerProfile">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIParkingFacility-->
<xs:complexType name="PIParkingFacility">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTTransferCluster-->
<xs:complexType name="CPTTransferCluster">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTTransitFacility-->
<xs:complexType name="CPTTransitFacility">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHNoteInfo-->
<xs:complexType name="SCHNoteInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHOperatorAssignment-->
<xs:complexType name="SCHOperatorAssignment">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHPatternInfo-->
<xs:complexType name="SCHPatternInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHPullInOutInfo-->
<xs:complexType name="SCHPullInOutInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHTimepointInfo-->
<xs:complexType name="SCHTimepointInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHTransferInfo-->
<xs:complexType name="SCHTransferInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHTripDetailInfo-->
<xs:complexType name="SCHTripDetailInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHUnassignedOperator-->
<xs:complexType name="SCHUnassignedOperator">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHUnassignedVehicle-->
<xs:complexType name="SCHUnassignedVehicle">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHVehicleAssignment-->
<xs:complexType name="SCHVehicleAssignment">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCAlarm-->
<xs:complexType name="CCAlarm">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIServiceBulletin-->
<xs:complexType name="PIServiceBulletin">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMIncidentInfo-->
<xs:complexType name="IMIncidentInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCLogOffOperator-->
<xs:complexType name="CCLogOffOperator">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCLogOnOperator-->
<xs:complexType name="CCLogOnOperator">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTEmployee-->
<xs:complexType name="CPTEmployee">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHRoster-->
<xs:complexType name="SCHRoster">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame OBParameterDumpEntry-->
<xs:complexType name="OBParameterDumpEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame OBStoppointRecord-->
<xs:complexType name="OBStoppointRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCDetourRecord-->
<xs:complexType name="CCDetourRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCBlockWorkRecord-->
<xs:complexType name="CCBlockWorkRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCSignOnOff-->
<xs:complexType name="CCSignOnOff">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHRunScheduleEntry-->
<xs:complexType name="SCHRunScheduleEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHBlockScheduleEntry-->
<xs:complexType name="SCHBlockScheduleEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCVaultEvent-->
<xs:complexType name="FCVaultEvent">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTAssignedEmployee-->
<xs:complexType name="CPTAssignedEmployee">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTAssignedContractor-->
<xs:complexType name="CPTAssignedContractor">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTNeededSupplies-->
<xs:complexType name="CPTNeededSupplies">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCWorkOrder-->
<xs:complexType name="CCWorkOrder">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCWOUpdate-->
<xs:complexType name="CCWOUpdate">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCOperatingRecord-->
<xs:complexType name="CCOperatingRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PICustSubscription-->
<xs:complexType name="PICustSubscription">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIRecurringTrip-->
<xs:complexType name="PIRecurringTrip">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIRecurringTripSegment-->
<xs:complexType name="PIRecurringTripSegment">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIFoundItem-->
<xs:complexType name="PIFoundItem">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PILostItem-->
<xs:complexType name="PILostItem">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCVaultContents-->
<xs:complexType name="FCVaultContents">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCActionListEntryUTFS-->
<xs:complexType name="FCActionListEntryUTFS">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCTurnstileCountRecord-->
<xs:complexType name="FCTurnstileCountRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCPassengerCountRecord-->
<xs:complexType name="FCPassengerCountRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCCashBoxContents-->
<xs:complexType name="FCCashBoxContents">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CPTPTVehicle-->
<xs:complexType name="CPTPTVehicle">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMVehicleIDInformation-->
<xs:complexType name="IMVehicleIDInformation">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMResponseUnit-->
<xs:complexType name="IMResponseUnit">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMIncident-->
<xs:complexType name="IMIncident">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMInjuryInfo-->
<xs:complexType name="IMInjuryInfo">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMPerson-->
<xs:complexType name="IMPerson">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMPTVehicleInvolved-->
<xs:complexType name="IMPTVehicleInvolved">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMOtherVehicleInvolved-->
<xs:complexType name="IMOtherVehicleInvolved">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMWitness-->
<xs:complexType name="IMWitness">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame IMTrafficImpact-->
<xs:complexType name="IMTrafficImpact">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIAmenity-->
<xs:complexType name="PIAmenity">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCRevenueRecord-->
<xs:complexType name="FCRevenueRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCPullOutReport-->
<xs:complexType name="CCPullOutReport">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIXMLTimetable-->
<xs:complexType name="PIXMLTimetable">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCManualAlarmDefinition-->
<xs:complexType name="CCManualAlarmDefinition">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame FCTransactionRecord-->
<xs:complexType name="FCTransactionRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCPullInReport-->
<xs:complexType name="CCPullInReport">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SPStreetSeg-->
<xs:complexType name="SPStreetSeg">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame TSPStatus-->
<xs:complexType name="TSPStatus">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame TSPPRGInputsCCEntry-->
<xs:complexType name="TSPPRGInputsCCEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame CCEventRecord-->
<xs:complexType name="CCEventRecord">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame PIServiceDelayed-->
<xs:complexType name="PIServiceDelayed">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SPGISLayer-->
<xs:complexType name="SPGISLayer">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SPInteriorLocation-->
<xs:complexType name="SPInteriorLocation">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SPFeature-->
<xs:complexType name="SPFeature">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SPInteriorFeature-->
<xs:complexType name="SPInteriorFeature">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Frame SCHRosterDayEntry-->
<xs:complexType name="SCHRosterDayEntry">
<xs:sequence>
<xs:element name="insertLocalElementsHere" type="xs:string" minOccurs="0"/>
 </xs:sequence>
</xs:complexType>

<!-- Element PI-TravelerContactMode-->
<xs:simpleType name="PI-TravelerContactMode">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ADAAccess-->
<xs:simpleType name="PI-ADAAccess">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ADANeed-->
<xs:simpleType name="PI-ADANeed">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-AmenityStatus-->
<xs:simpleType name="PI-AmenityStatus">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-EstimatedArrivalRange-->
<xs:simpleType name="PI-EstimatedArrivalRange">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-InformationType-->
<xs:simpleType name="PI-InformationType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-MarkerType-->
<xs:simpleType name="PI-MarkerType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-CurrentStatus-->
<xs:simpleType name="IM-CurrentStatus">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-DetourType-->
<xs:simpleType name="IM-DetourType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SP-GeoTraceResponseType-->
<xs:simpleType name="SP-GeoTraceResponseType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SP-InteriorFeatureType-->
<xs:simpleType name="SP-InteriorFeatureType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-EmployeeFunction-->
<xs:simpleType name="IM-EmployeeFunction">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-IncidentStatus-->
<xs:simpleType name="IM-IncidentStatus">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-AccidentCode-->
<xs:simpleType name="IM-AccidentCode">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-OperatorInjured-->
<xs:simpleType name="IM-OperatorInjured">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-ResponseCommands-->
<xs:simpleType name="IM-ResponseCommands">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-ResponseUnitType-->
<xs:simpleType name="IM-ResponseUnitType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-RestorationAction-->
<xs:simpleType name="IM-RestorationAction">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-RoleInIncident-->
<xs:simpleType name="IM-RoleInIncident">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-VehicleInvolvedType-->
<xs:simpleType name="IM-VehicleInvolvedType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-ComponentErrorType-->
<xs:simpleType name="FC-ComponentErrorType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-TransitFacilityType-->
<xs:simpleType name="CPT-TransitFacilityType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-TrafficSignalType-->
<xs:simpleType name="CPT-TrafficSignalType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-ComponentEventType-->
<xs:simpleType name="FC-ComponentEventType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-ComponentStatusType-->
<xs:simpleType name="FC-ComponentStatusType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-FinancialTransactionType-->
<xs:simpleType name="FC-FinancialTransactionType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-FIStandard-->
<xs:simpleType name="FC-FIStandard">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-AlarmCode-->
<xs:simpleType name="CC-AlarmCode">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-MonetaryInstrType-->
<xs:simpleType name="FC-MonetaryInstrType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-PassInstrType-->
<xs:simpleType name="FC-PassInstrType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-EmergencyCode-->
<xs:simpleType name="CC-EmergencyCode">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-TransactionResult-->
<xs:simpleType name="FC-TransactionResult">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-ActivationType-->
<xs:simpleType name="SCH-ActivationType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-DayType-->
<xs:simpleType name="SCH-DayType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-OperatingTimeType-->
<xs:simpleType name="SCH-OperatingTimeType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-RunType-->
<xs:simpleType name="SCH-RunType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-ServiceType-->
<xs:simpleType name="SCH-ServiceType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-TripTimePtAttribute-->
<xs:simpleType name="SCH-TripTimePtAttribute">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SCH-TripType-->
<xs:simpleType name="SCH-TripType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-RadioVoiceControl-->
<xs:simpleType name="CC-RadioVoiceControl">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-ChannelAttribute-->
<xs:simpleType name="CPT-ChannelAttribute">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-LandmarkType-->
<xs:simpleType name="PI-LandmarkType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ReasonNotSent-->
<xs:simpleType name="PI-ReasonNotSent">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-DayofWeek-->
<xs:simpleType name="CPT-DayofWeek">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-EmplJobCat-->
<xs:simpleType name="CPT-EmplJobCat">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-PadType-->
<xs:simpleType name="CPT-PadType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-PlatformType-->
<xs:simpleType name="CPT-PlatformType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-PTVehicleAttribute-->
<xs:simpleType name="CPT-PTVehicleAttribute">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-ServiceEventType-->
<xs:simpleType name="CC-ServiceEventType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-PIDTextColor-->
<xs:simpleType name="PI-PIDTextColor">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-PIDTextAttribute-->
<xs:simpleType name="PI-PIDTextAttribute">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-ShelterType-->
<xs:simpleType name="CPT-ShelterType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-StoppointAttribute-->
<xs:simpleType name="CPT-StoppointAttribute">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-FileIdentifier-->
<xs:simpleType name="CPT-FileIdentifier">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-StopPlacement-->
<xs:simpleType name="CPT-StopPlacement">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-PTVInspectionFault-->
<xs:simpleType name="CC-PTVInspectionFault">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-ErrorCode-->
<xs:simpleType name="CPT-ErrorCode">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ServiceStatusType-->
<xs:simpleType name="PI-ServiceStatusType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-GraphicFormat-->
<xs:simpleType name="PI-GraphicFormat">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-AudioFormat-->
<xs:simpleType name="PI-AudioFormat">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element IM-IncidentDistribution-->
<xs:simpleType name="IM-IncidentDistribution">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-TravelerDenyReason-->
<xs:simpleType name="CC-TravelerDenyReason">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element OB-LocationReportReason-->
<xs:simpleType name="OB-LocationReportReason">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CC-AdherenceMsgType-->
<xs:simpleType name="CC-AdherenceMsgType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-VehicleType-->
<xs:simpleType name="FC-VehicleType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-FareBasis-->
<xs:simpleType name="FC-FareBasis">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-DiscountType-->
<xs:simpleType name="FC-DiscountType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-ParkingCostType-->
<xs:simpleType name="FC-ParkingCostType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-MultipleTripType-->
<xs:simpleType name="FC-MultipleTripType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-PolicyType-->
<xs:simpleType name="FC-PolicyType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element SP-QualityLevel-->
<xs:simpleType name="SP-QualityLevel">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element FC-SCObjectType-->
<xs:simpleType name="FC-SCObjectType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element TSP-GrantType-->
<xs:simpleType name="TSP-GrantType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-CustomerSubscriptionType-->
<xs:simpleType name="PI-CustomerSubscriptionType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-DeliveryMechanism-->
<xs:simpleType name="PI-DeliveryMechanism">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-HealthStatus-->
<xs:simpleType name="CPT-HealthStatus">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-LostItemDisposition-->
<xs:simpleType name="PI-LostItemDisposition">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-LoadStopReason-->
<xs:simpleType name="CPT-LoadStopReason">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-Color-->
<xs:simpleType name="CPT-Color">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ParkingType-->
<xs:simpleType name="PI-ParkingType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-ParkingVehicleClass-->
<xs:simpleType name="PI-ParkingVehicleClass">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element PI-SignType-->
<xs:simpleType name="PI-SignType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- Element CPT-FeatureType-->
<xs:simpleType name="CPT-FeatureType">
<xs:annotation>
<xs:appinfo>Extension of data element to support local code definitions</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="locallyDefined"/>
</xs:restriction>
</xs:simpleType>

<!-- end definition of messages, frames, and data elements -->
</xs:schema>