onebusaway-nyc-transit-data-manager/onebusaway-nyc-tdm-adapters/src/main/resources/ATIS_03_00_74_Local.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Output of XML portions of the registry data into file: ATIS-Local-Draft-03-00-74.xsd -->
<!-- Run on Mini-Edit [Version 2.0.410] -->
<!-- From node D:-75-0649-5535 Created on 5/30/2006 at 8:30:35 PM  -->
<!-- Source DB File: atis_j2354_r74.its rendered into namespace: ATIS-Local  -->
<!-- Edit namespaces to reflect the schema releases you will be using. -->
<!-- Place at: www.YourSite.xxx/ITSschemas/ATIS-03-00-74/atis-local-draft-03-00-74.xsd  -->
<!-- Local copy saved to: D:/Documents and Settings/sboarman/My Documents/APTA TCIP/3.0.0/atis 74 build/ITSschemas/ATIS-03-00-74/atis-local-draft-03-00-74.xsd -->
<!-- Production releases of ITS schemas can be found at: http://www.ITSware.net/XML/readme.htm -->
<!--  -->
<xs:schema targetNamespace="http://www.atis-03-00-74-local" xmlns="http://www.atis-03-00-74-local" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="DRAFT">
	<!-- add for each space you define: xmlns:$NAME$="http://www.$NAME$-$RELEASE_TYPE$-$REVISION_STRING$ -->
	<xs:annotation>
		<xs:documentation>
      Exported on: 08:30:35 PM Tuesday, May 30, 2006 From file: atis_j2354_r74.its [By: Mini-Edit Rev 2.0.410] 
   </xs:documentation>
	</xs:annotation>
	<!-- Descriptive Name: DE_Accidents-and-Incidents-Local -->
	<xs:simpleType name="AccidentsAndIncidents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_ADAAccess-Local -->
	<xs:simpleType name="ADA-Access">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Instructions-Mandatory-Local -->
	<xs:simpleType name="AdviceInstructionsMandatory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Instructions-Recommendations-Local -->
	<xs:simpleType name="AdviceInstructionsRecommendations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_AirlineTravelInformation-Local -->
	<xs:complexType name="AirlineTravelInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Alternate-Route-Local -->
	<xs:simpleType name="AlternateRoute">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_AmenitiesList-Local -->
	<xs:simpleType name="AmenitiesList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Asset-Status-Local -->
	<xs:simpleType name="AssetStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Closures-Road-and-Lane-Local -->
	<xs:simpleType name="Closures">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_ComplexCost-Local -->
	<xs:complexType name="ComplexCost">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Delays,-Status,-And-Cancellations-Local -->
	<xs:simpleType name="DelayStatusCancellation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Device-And-Equipment-Status-Local -->
	<xs:simpleType name="DeviceStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Disasters-Local -->
	<xs:simpleType name="Disasters">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Disturbances-Local -->
	<xs:simpleType name="Disturbances">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_EquipmentClass-Local -->
	<xs:simpleType name="EquipmentClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_ERROR_NotificationCode_code-Local -->
	<xs:simpleType name="Error-NotificationCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_EventInformation-Local -->
	<xs:complexType name="EventInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_EventTypes_code-Local -->
	<xs:simpleType name="EventTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_DIRECTORYENTRY_ExtendedInfoType_code-Local -->
	<xs:simpleType name="ExtendedInfoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_FlightTypes_code-Local -->
	<xs:simpleType name="FlightTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Generic-Locations-Local -->
	<xs:simpleType name="GenericLocations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_IncidentInformation-Local -->
	<xs:complexType name="IncidentInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Incident-Response-Equipment-Local -->
	<xs:simpleType name="IncidentResponseEquipment">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Incident-Response-Status-Local -->
	<xs:simpleType name="IncidentResponseStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: MSG_TravelerInformationRequest-Local -->
	<xs:complexType name="InformationRequest">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_INFORMATIONREQUEST_Type_code-Local -->
	<xs:complexType name="InformationRequestType">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Lane-Roadway-Descriptions-Local -->
	<xs:simpleType name="LaneRoadway">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_LinkTrafficInformation-Local -->
	<xs:complexType name="LinkTrafficInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
		<!-- Descriptive Name: DF_ManeuverInstruction-Local2 -->
	<xs:complexType name="ManeuverInstruction2">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_ManeuverInstruction-Local -->
	<xs:complexType name="ManeuverInstruction">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_ManeuverLocationType-Local -->
	<xs:simpleType name="ManeuverLocationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Mobile-Situation-Local -->
	<xs:simpleType name="MobileSituation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_BasicTypes_code-Local -->
	<xs:simpleType name="NONE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Objects-Local -->
	<xs:simpleType name="Objects">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Obstructions-Local -->
	<xs:simpleType name="Obstruction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_DIRECTORYSEARCH_OrderEntriesBy_code-Local -->
	<xs:simpleType name="OrderEntriesBy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Parking-Information-Local -->
	<xs:simpleType name="ParkingInformation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_Parking-Instructions-Local -->
	<xs:complexType name="ParkingInstructions">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_ParkingLotInformation-Local -->
	<xs:complexType name="ParkingLotInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_ParkingSpaceKind-Local -->
	<xs:simpleType name="ParkingSpaceKind">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_ParkingTypes_code-Local -->
	<xs:simpleType name="ParkingTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Pavement-Conditions-Local -->
	<xs:simpleType name="PavementConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_Pedigree-list-Local -->
	<xs:complexType name="PedigreeList">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: PIXMLTimetable-Local -->
	<xs:complexType name="PIXMLTimetable">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_PointRole-Local -->
	<xs:simpleType name="PointRole">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Precipitation-Local -->
	<xs:simpleType name="Precipitation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_PRICE_DayType_code-Local -->
	<xs:simpleType name="Price-DayType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Qualifiers-Local -->
	<xs:simpleType name="Qualifiers">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_TRIP_RequestErrorType_code-Local -->
	<xs:simpleType name="RequestErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_RequestStatus-Local -->
	<xs:complexType name="RequestStatus">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Responder-Group-Affected-Local -->
	<xs:simpleType name="ResponderGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_ResponseGroup-Local -->
	<xs:complexType name="ResponseGroup">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Restrictions-Local -->
	<xs:simpleType name="RestrictionClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Roadside-Assets-Local -->
	<xs:simpleType name="RoadsideAssets">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_RoadTypes_code-Local -->
	<xs:simpleType name="RoadTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Roadwork-Local -->
	<xs:simpleType name="Roadwork">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_Route-Local -->
	<xs:complexType name="Route">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: MSG_RouteRequest-Local -->
	<xs:complexType name="RouteRequest">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_RouteStatus-Local -->
	<xs:complexType name="RouteStatus">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_RouteTypes_code-Local -->
	<xs:simpleType name="RouteTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: SCHNoteInfo-Local -->
	<xs:complexType name="SCHNoteInfo">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_Segment-Local -->
	<xs:complexType name="Segment">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_ServerStatus-Local -->
	<xs:complexType name="ServerStatus">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_SETTING_Type_code-Local -->
	<xs:simpleType name="SettingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_SomeOtherList-Local -->
	<xs:simpleType name="SomeOtherList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Special-Events-Local -->
	<xs:simpleType name="SpecialEvents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Sporting-Events-Local -->
	<xs:simpleType name="SportingEvents">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_StatusBlock-Local -->
	<xs:complexType name="StatusBlock">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DF_SubRoute-Local -->
	<xs:complexType name="SubRoute">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Suggestion-Advice-Local -->
	<xs:simpleType name="SuggestionAdvice">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Information-System-Local -->
	<xs:simpleType name="SystemInformation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Temperature-Local -->
	<xs:simpleType name="Temperature">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Traffic-Conditions-Local -->
	<xs:simpleType name="TrafficConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_TransitInformation-Local -->
	<xs:complexType name="TransitInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_Transit-Mode-Local -->
	<xs:simpleType name="TransitMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Transit-Operations-Local -->
	<xs:simpleType name="TransitOperations">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_TransitTypes_code-Local -->
	<xs:simpleType name="TransitTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_TravelerClass-Local -->
	<xs:simpleType name="TravelerClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Traveler-Group-Affected-Local -->
	<xs:simpleType name="TravelerGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: MSG_TravelerSettingsReply-Local -->
	<xs:complexType name="TravelerSettingsReply">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: MSG_TravelerSettingsRequest-Local -->
	<xs:complexType name="TravelerSettingsRequest">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_TRIGGER_Event_code-Local -->
	<xs:simpleType name="Trigger-Event">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_TurnType-Local -->
	<xs:simpleType name="TurnType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Unit-Values-Local -->
	<xs:simpleType name="Units">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Unusual-Driving-Local -->
	<xs:simpleType name="UnusualDriving">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Vehicle-Groups-Affected-Local -->
	<xs:simpleType name="VehicleGroupAffected">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Visibility-andamp-Air-Quality-Local -->
	<xs:simpleType name="VisibilityAndAirQuality">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Warning-Advice-Local -->
	<xs:simpleType name="WarningAdvice">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Weather-Conditions-Local -->
	<xs:simpleType name="WeatherConditions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DF_WeatherInformation-Local -->
	<xs:complexType name="WeatherInformation">
		<xs:sequence>
			<xs:element name="yourName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Insert instance name and Type of each elements here, 
           and any restrictions that are needed. -->
		</xs:sequence>
	</xs:complexType>
	<!-- Descriptive Name: DE_INFORMATIONREQUEST_WeatherTypes_code-Local -->
	<xs:simpleType name="WeatherTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winds-Local -->
	<xs:simpleType name="Winds">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winter-Driving-Index-Local -->
	<xs:simpleType name="WinterDrivingIndex">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Descriptive Name: DE_Winter-Driving-Restrictions-and-Recommendations-Local -->
	<xs:simpleType name="WinterDrivingRestrictions">
		<xs:restriction base="xs:string">
			<xs:enumeration value="insert-local-values-here"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Local extensions for imported TCIP data elements These must match the local extensions to these items in TCIP Local -->
	<xs:simpleType name="PI-ParkingType">
		<xs:annotation>
			<xs:appinfo>
			Extension of data element to support local code definitions
                   </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="locally defined"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PI-ParkingVehicleClass">
		<xs:annotation>
			<xs:appinfo>
			Extension of data element to support local code definitions
                   </xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="locally defined"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  -->
	<!-- These items are added the schema file by the export routines -->
	<!--  -->
	<!-- END of the output -->
</xs:schema>
