onebusaway-nyc-tdm-tcip/src/main/resources/LRMS_Local_for_im.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Cecil W. Goodwin (Consultant) -->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.lrms-local-for-im" targetNamespace="http://www.lrms-local-for-im" elementFormDefault="unqualified" attributeFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>This schema contains local elements used in the LRMS schema</xs:documentation>
	</xs:annotation>
	<xs:group name="ExtendedAdminAreaGroup">
		<xs:choice>
			<xs:element name="parish"/>
			<xs:element name="district"/>
			<xs:element name="province"/>
			<xs:element name="territory"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="AdminAreaGroup"/>
	<xs:complexType name="GridPoint"/>
	<xs:complexType name="GridPointPair"/>
	<xs:complexType name="GridProfile"/>
	<xs:complexType name="NodeAttribute"/>
	<xs:complexType name="GridPointSequence"/>
	<xs:simpleType name="ExtendedPointType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="dummy1"/>
			<xs:enumeration value="dummy2"/>
			<xs:enumeration value="dummy3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
